﻿@import (reference) "_colours.less";

//scoped to custom-btn class
a.custom-btn {
    text-decoration: none;
    display: inline-block;
    
    &.small {
        line-height: 32px;
    }
    &.large {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    
}

button.custom-btn{
    &.large {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

.custom-btn {
    text-transform: uppercase;
    padding-left: 28px;
    padding-right: 28px;
    -moz-transition: background-color 0.15s ease, color 0.15s ease, border-color 0.15s ease;
    -o-transition: background-color 0.15s ease, color 0.15s ease, border-color 0.15s ease;
    -webkit-transition: background-color 0.15s ease, color 0.15s ease, border-color 0.15s ease;
    transition: background-color 0.15s ease, color 0.15s ease, border-color 0.15s ease;
    letter-spacing: 0.01em;
    
    i.fa{
        margin-right: 5px;
    }
    &:focus {
        outline: none;
    }
    


    &.outlined {
        background: none;
        border: 2px solid;

        &.small {
            height: 34px;
            &.pill {
                border-radius: 20px;
            }
        }

        &.large {
            font-size: 16px;
            &.pill {
                border-radius: 40px;
            }
        }

        &.red-solid {
            background-color: @ableRed;
            color: @white;
            border-color: @ableRed;
            &:hover{
                background: none;
                color: @ableRed;
            }
        }

        &.white-solid {
            background-color: @white;
            color: @ableRed;
            border-color: @white;
           
        }


        &.red {
            border-color: @ableRed;
            color: @ableRed;

            &:hover {
                background-color: @ableRed;
                color: @white;
            }
        }
    }
}