﻿@import (reference) "_colours.less";
@import (reference) "_elements.less";

.circular-icon{
    background-color: @ableRed;
    border-radius: 50%;
    position: relative;
    &.small {
        width: 22px;
        height: 22px;
        box-shadow: 0 0 0 7px rgba(213,0,36,0.25);
    }

    .fa {
        position: absolute; 
        .horizontal-vertical-align-center;
    }
}