﻿/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=7d87a58c-1d4b-4675-9782-ac9cb9a73524");
@font-face{
    font-family:"Proxima Nova W01 Medium";
    src:url("/fonts/proxima-nova/b918fc25-caba-4cf5-8606-d77742e476f4.eot?#iefix");
    src:url("/fonts/proxima-nova/b918fc25-caba-4cf5-8606-d77742e476f4.eot?#iefix") format("eot"),url("/fonts/proxima-nova/e898042a-5eb9-4810-b578-c3993ab58f0f.woff2") format("woff2"),url("/fonts/proxima-nova/cb9d4f02-d326-46b0-a857-930cce057f80.woff") format("woff"),url("/fonts/proxima-nova/75cafc03-22e4-41b0-8bc2-1b9081506ecc.ttf") format("truetype"),url("/fonts/proxima-nova/efb9f6bb-840c-47d2-a504-11c8c352aded.svg#efb9f6bb-840c-47d2-a504-11c8c352aded") format("svg");
}
@font-face{
    font-family:"Proxima N W01 Light";
    src:url("/fonts/proxima-nova/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix");
    src:url("/fonts/proxima-nova/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix") format("eot"),url("/fonts/proxima-nova/d9fe41ee-4904-4a11-ba11-b61cd3be767f.woff2") format("woff2"),url("/fonts/proxima-nova/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"),url("/fonts/proxima-nova/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype"),url("/fonts/proxima-nova/2a961063-ea56-4a4b-8cea-bdae32edb0e2.svg#2a961063-ea56-4a4b-8cea-bdae32edb0e2") format("svg");
}
@font-face{
    font-family:"Proxima N W01 Light It";
    src:url("/fonts/proxima-nova/ee3e7ba6-7c22-4ff7-ad76-656505595a8a.eot?#iefix");
    src:url("/fonts/proxima-nova/ee3e7ba6-7c22-4ff7-ad76-656505595a8a.eot?#iefix") format("eot"),url("/fonts/proxima-nova/b47d2733-d2e6-452a-9134-77bcf65f9e7e.woff2") format("woff2"),url("/fonts/proxima-nova/0c4be1a2-8e16-48b4-a384-165fa5baffe3.woff") format("woff"),url("/fonts/proxima-nova/a7e6cc5b-7ba3-44be-9063-2cc1b3c05155.ttf") format("truetype"),url("/fonts/proxima-nova/a1adf259-df55-4d1c-a2ab-dd790daf22f8.svg#a1adf259-df55-4d1c-a2ab-dd790daf22f8") format("svg");
}
@font-face{
    font-family:"Proxima N W01 Reg";
    src:url("/fonts/proxima-nova/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
    src:url("/fonts/proxima-nova/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("/fonts/proxima-nova/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("/fonts/proxima-nova/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("/fonts/proxima-nova/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),url("/fonts/proxima-nova/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}
@font-face{
    font-family:"Proxima N W01 Reg It";
    src:url("/fonts/proxima-nova/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix");
    src:url("/fonts/proxima-nova/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix") format("eot"),url("/fonts/proxima-nova/129d49d6-5492-4ed1-96f7-0528c6d53abc.woff2") format("woff2"),url("/fonts/proxima-nova/9c69c878-2255-4027-8632-ed3635cddf45.woff") format("woff"),url("/fonts/proxima-nova/b7eb3871-e910-4522-9982-effb425a2714.ttf") format("truetype"),url("/fonts/proxima-nova/a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf.svg#a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf") format("svg");
}
@font-face{
    font-family:"Proxima N W01 Smbd";
    src:url("/fonts/proxima-nova/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix");
    src:url("/fonts/proxima-nova/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot"),url("/fonts/proxima-nova/ae47a7f5-89da-4879-b934-29722c3dd451.woff2") format("woff2"),url("/fonts/proxima-nova/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),url("/fonts/proxima-nova/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype"),url("/fonts/proxima-nova/ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg#ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c") format("svg");
}
@font-face{
    font-family:"Proxima N W01 Bold";
    src:url("/fonts/proxima-nova/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
    src:url("/fonts/proxima-nova/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"),url("/fonts/proxima-nova/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2") format("woff2"),url("/fonts/proxima-nova/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),url("/fonts/proxima-nova/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"),url("/fonts/proxima-nova/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
}

body {
    font-family: 'Proxima N W01 Reg';
}

.nova-light{
    font-family: 'Proxima N W01 Light' !important;
}

/*FONT SIZES*/
.small-text {
    font-size: 12px !important;
}