﻿@import (reference) "_colours.less";
@import (reference) "_elements.less";

#main-footer {
    z-index: 9;
    color: @white;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: @black;
    padding: 45px 0;

    > a.back-to-top {
        font-size: 26px;
        z-index: 3;
        width: 126px;
        height: 126px;
        position: absolute;
        background-color: darken(@white, 80%);
        border-radius: 50%;
        top: -63px;
        .horizontal-align-center;
        .transition(background-color, 0.10s, ease);

        i.fa {
            bottom: 25px;
            position: absolute;
            color: @white;
            .horizontal-align-center;
            .transition(bottom, 0.10s, ease);
        }

        &:hover {
            background-color: darken(@white, 70%);

            i.fa {
                bottom: 28px;
            }
        }
    }

    ul.social-list {
        margin-bottom: 30px;

        li {
            padding: 0;

            + li {
                margin-left: 20px;
            }

            a {
                background: @ableRed;
                display: block;
                border-radius: 50%;
                width: 64px;
                height: 64px;
                position: relative;
                color: #fff;
                font-size: 24px;
                .transition(background-color, 0.15s, ease);
                i.fa {
                    position: absolute;
                    .horizontal-vertical-align-center;
                }

                &:hover {
                    background-color: lighten(@ableRed, 5%);
                }
            }
        }
    }

    ul.accreditation-logos {
        li {
            + li {
                margin-left: 15px;
            }
            padding: 0;
        }
    }

    ul.accreditation-logos,
    ul.social-list {
        margin-left: 0;
    }

    p.copy-text {
        margin-bottom: 30px;
    }

    .newsletter-subscription {
        overflow: hidden;

        label {
            margin: 0 0 30px 0;
            line-height: 28px;
            padding: 0;
            font-weight: normal;
            display: block;
            font-size: 28px;
        }

        input[type="email"] {
            margin-right: 14px;
            width: 223px;
        }
    }

    .footer-links {
        margin: 0;
        font-size: 0;

        li {
            border-right: 1px solid @white;
            padding: 0 10px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border-right: 0;
                padding-right: 0;
            }
        }

        a {
            .transition(color, 0.15s, ease);
            font-size: 12px;
            color: @white;
            &:hover {
                color: @ableRed;
            }
        }
    }

    @media(max-width: 549px) {
        .newsletter-subscription {
            input[type="email"],
            input[type="submit"] {
                width: 75%;
            }
        }
    }

    @media(min-width: 550px) and (max-width:767px) {
        .newsletter-subscription {
            input[type="email"],
            input[type="submit"] {
                width: 50%;
            }
        }
    }

    @media(max-width: 767px) {
        padding-top: 90px;
        text-align: center;

        p.copy-text {
            padding-left: 10%;
            padding-right: 10%;
        }

        .newsletter-subscription {
            margin: 30px auto;

            input[type="email"] {
                text-align: center;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }

    @media(min-width: 768px) {
        .newsletter-subscription {
            float: right;
            width: 340px;
        }

        .right-col {
            position: relative;
            .footer-links {
                position: absolute;
                right: 15px;
                bottom: 0;
            }
        }
    }
}
