﻿@import (reference) "_colours.less";
@import (reference) "_fonts.less";
@import (reference) "_elements.less";

//scoped to custom-form class
form.custom-form {
    textarea {
        &.outline{
            padding-top:10px;
            padding-bottom: 10px;
            height: 130px;
        }
    }
    &.no-rounded {
        .outline {
            border-radius: 0;
        }
    }
    &.lowercase {
        .outline {
            text-transform: lowercase;
        }
    }
    .outline {
        font-size: 14px;
        background-color: transparent;
        border: 1px solid white;
        height: 34px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        padding: 0 14px;
        outline: none;
        -moz-transition: background-color 0.15s ease, color 0.15s ease;
        -o-transition: background-color 0.15s ease, color 0.15s ease;
        -webkit-transition: background-color 0.15s ease, color 0.15s ease;
        transition: background-color 0.15s ease, color 0.15s ease;
        color: @white;

        &::-webkit-input-placeholder {
           color: @white;
        }

        &:-moz-placeholder { /* Firefox 18- */
           color: @white;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
           color: @white; 
        }

        &:-ms-input-placeholder {  
           color: @white; 
        }


        &:focus {
            box-shadow: none;
            background: @white;
            color: @black;
            &::-webkit-input-placeholder {
               color: @black;
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: @black;
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: @black; 
            }

            &:-ms-input-placeholder {  
               color: @black; 
            }
        }
    }
    
    .custom-checkbox {
        label {
            cursor: pointer;
            padding-left: 30px;
            position: relative;
            color: @white;
            font-family: 'Proxima N W01 Reg';
            font-size: 14px;
            font-weight: normal;
            line-height: 20px;
            .psudo-check{
                display: block;
                .transition(background, 0.05s, ease);
                i{
                    font-size: 11px;
                    position: absolute;
                    .horizontal-vertical-align-center;
                    opacity: 0;
                    .transition(opacity, 0.05s, ease);
                }
                .vertical-align-center;
                left: 0;
                position: absolute;
                width: 20px;
                height: 20px;
                border: 1px solid @white;
            }
        }
       
        input[type="checkbox"]{
            display: none;
            &:checked {
                +input[type=hidden]+.psudo-check{
                    background-color: @ableRed;
                    i{
                        opacity: 1;
                    }             

                }
            }
        }
    }
}
