﻿@import (reference) "_colours.less";
@import (reference) "_elements.less";
@import (reference) "_fonts.less";

#navigation {
    z-index: 10;
    position: relative;
    /*globals*/
    a.able-logo {
        z-index: 2;
        position: absolute;
        display: block;
        background: @ableRed;
        left: 0;
        .transition(all, 0.15s, ease);

        img {
            position: absolute;
            .horizontal-vertical-align-center;
        }

        &:hover {
            background-color: lighten(@ableRed, 5%);
        }
    }

    .navbar-content {
        width: 100%;
    }

    .nav-links {
        position: relative;
        background: @ableDarkerRed;
    }

    .strapline {
        color: #fff;
        position: absolute;
        .vertical-align-center;
    }

    .top-bar {
        color: @white;
        background: @black;
        position: relative;

        a {
            font-family: "Proxima N W01 Bold";
            color: @white;
            .transition(color, 0.15s, ease);
            text-decoration: none;

            &:hover {
                color: @ableRed;
            }
        }

        .call-us {
            text-transform: uppercase;
            position: absolute;
            left: 15px;
            .vertical-align-center;
            padding-left: 35px;
            .transition(left, 0.15s, ease);

            .circular-icon {
                position: absolute;
                left: 0;
                .vertical-align-center;
            }
        }

        form.search-form {
            position: absolute;
            right: 15px;
            .vertical-align-center;

            input[type="search"] {
                border: 2px solid #fff;
                background: none;
                height: 35px;
                border-radius: 20px;
                padding: 0 40px 0 20px;
                outline: none;

                &::-webkit-input-placeholder {
                    color: @white;
                }

                &:-moz-placeholder { /* Firefox 18- */
                    color: @white;
                }

                &::-moz-placeholder { /* Firefox 19+ */
                    color: @white;
                }

                &:-ms-input-placeholder {
                    color: @white;
                }



                &:focus, &:hover {
                    &::-webkit-input-placeholder {
                        color: @ableRed;
                    }

                    &:-moz-placeholder { /* Firefox 18- */
                        color: @ableRed;
                    }

                    &::-moz-placeholder { /* Firefox 19+ */
                        color: @ableRed;
                    }

                    &:-ms-input-placeholder {
                        color: @ableRed;
                    }
                }
            }

            button {
                position: absolute;
                .vertical-align-center;
                right: 15px;
                border: 0;
                background: none;
                .transition(color, 0.15s, ease);

                &:hover {
                    color: @ableRed;
                }
            }
        }
    }

    a.mobile-nav-toggle {
        cursor: pointer;
        background: darken(@ableDarkerRed, 4.5%);
        border: 1px solid lighten(@ableDarkerRed, 1%);
        padding: 10px;
        border-radius: 4px;
        .vertical-align-center;
        position: absolute;
        right: 15px;
        color: @white;

        &:hover {
            background: darken(@ableDarkerRed,7%);
        }

        .icon-bar {
            display: block;
            height: 2px;
            width: 23px;
            background-color: #fff;

            + .icon-bar {
                margin-top: 4px;
            }
        }
    }

    ul.main-navigation {
        font-size: 0;
        margin: 0;
        float: right;
        font-family: "Proxima N W01 Bold";

        > li {
            padding: 0;
            position: relative;

            &.active {
                background-color: darken(@ableDarkerRed, 5%);
            }

            > a {
                text-decoration: none;
                font-size: 15px;
                padding: 0 8px;
                display: inline-block;
                color: @white;
                line-height: 67px;
            }

            .dropdown-nav-menu {
                width: 250px;
                z-index: 3;
                @dropdownBackgroundColour: @white;
                top: 100%;
                .horizontal-align-center;
                display: none;
                position: absolute;
                font-size: 15px;
                font-family: 'Proxima N W01 Smbd';

                &:before {
                    content: '';
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    background-color: @dropdownBackgroundColour;
                    -moz-transform: rotate(-45deg) translateY(-50%);
                    -ms-transform: rotate(-45deg) translateY(-50%);
                    -o-transform: rotate(-45deg) translateY(-50%);
                    -webkit-transform: rotate(-45deg) translateY(-50%);
                    transform: rotate(-45deg) translateY(-50%);
                    top: 3px;
                    left: 50%;
                    z-index: 2;
                }

                > ul {
                    width: 100%;
                    padding: 10px;
                    position: relative;
                    z-index: 3;
                    background: @dropdownBackgroundColour;
                    li {
                        a {
                            color: @black;
                            text-decoration: none;
                            display: block;
                            padding: 5px 10px 5px 25px;
                            position: relative;
                            .transition(all, 0.15s, ease);
                            &:before {
                                position: absolute;
                                font-family: FontAwesome;
                                .vertical-align-center;
                                content: '\f054';
                                left: 10px;
                                font-size: 10px;
                            }

                            &:hover {
                                color: @white;
                                background-color: @ableRed;
                            }
                        }
                    }
                }
            }

            &:hover {
                background-color: darken(@ableDarkerRed, 5%);

                .dropdown-nav-menu {
                    display: block;
                }
            }

        }
    }

    @media(max-width: 767px) {
        a.able-logo {
            height: 100px;
            width: 125px;
            min-width: 75px;
            top: 0;
        }

        .top-bar {
            display: none;
        }

        .strapline {
            display: none;
        }

        .nav-links {
            height: 65px;
        }
    }

    @media(min-width: 768px) {
        a.able-logo {
            height: 134px;
            width: 150px;
            top: 67px;
        }

        .top-bar {
            height: 67px;
        }

        .strapline {
            line-height: 16px;
            font-size: 16px;
        }

        .nav-links {
            height: 67px;
            padding-left: 165px;
        }
    }

    @media(max-width: 991px) {
        ul.main-navigation {
            display: none;
        }
    }

    @media(min-width: 992px) {
        a.mobile-nav-toggle {
            display: none;
        }

        .strapline {
            font-size: 18px;
            line-height: 18px;
        }
    }

    @media(min-width: 992px) and (max-width: 1499px) {
        .strapline {
            display: none;
        }
    }

    @media(min-width: 1200px) {
        ul.main-navigation {
            > li {
                padding: 0;

                > a {
                    font-size: 17px;
                    padding: 0 15px;
                }
            }
        }
    }
}


#navigation-sticky-wrapper {
    &.is-sticky {

        #navigation {
            z-index: 10 !important;

            @media(min-width: 767px) {

                .able-logo {
                    top: 0;
                }

                .top-bar {
                    .call-us {
                        left: 173px;
                    }
                }
            }
        }
    }
}


#mobile-nav-menu {
    color: @white !important;
    border: 0;
    background: @ableDarkerRed;
    box-shadow: -5px 0 0 -2px rgba(0,0,0,0.5);

    .nav {
        margin: 0;

        > li {
            position: relative;
            border-bottom: 1px solid darken(@ableDarkerRed, 10%);

            a {
                &:hover {
                    background: @ableDarkerRed;
                }
            }

            &.dropdown {
                a {
                    .carat {
                        color: @white;
                    }
                }
            }

            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background-color: lighten(@ableDarkerRed, 10%);
            }


            &.open {
                .dropdown-toggle, .dropdown-menu {
                    background-color: darken(@ableDarkerRed, 12%);
                }
            }
        }

        a {
            color: #fff;
        }

        .dropdown-menu {
            padding-bottom: 0;

            a {
                position: relative;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 30px;

                i.fa {
                    left: 15px;
                    font-size: 12px;
                    position: absolute;
                    .vertical-align-center;
                }
            }
        }
    }

    .search {
        background-color: darken(@ableDarkerRed, 10%);
        padding: 15px;

        .search-form {
            position: relative;
        }

        input[type="search"] {
            border: 2px solid #fff;
            background: none;
            height: 35px;
            border-radius: 20px;
            padding: 0 40px 0 20px;
            outline: none;
            width: 100%;

            &::-webkit-input-placeholder {
                color: @white;
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: @white;
            }

            &::-moz-placeholder { /* Firefox 19+ */
                color: @white;
            }

            &:-ms-input-placeholder {
                color: @white;
            }



            &:focus, &:hover {
                &::-webkit-input-placeholder {
                    color: @ableRed;
                }

                &:-moz-placeholder { /* Firefox 18- */
                    color: @ableRed;
                }

                &::-moz-placeholder { /* Firefox 19+ */
                    color: @ableRed;
                }

                &:-ms-input-placeholder {
                    color: @ableRed;
                }
            }
        }

        button {
            position: absolute;
            .vertical-align-center;
            right: 15px;
            border: 0;
            background: none;
            .transition(color, 0.15s, ease);

            &:hover {
                color: @ableRed;
            }
        }
    }

    @media(min-width: 768px) {
        .search {
            display: none;
        }
    }
}
