﻿@import "_fonts.less";
@import "_form-elements.less";
@import "_buttons.less";
@import "_circular-icons.less";

@import "_navigation.less";

//components import
@import "components/_component-global.less";
@import "components/_nav-spacer.less";
@import "components/_social.less";
@import "components/_text-cta.less";
@import "components/_need-help.less";
@import "components/_quote-carousel.less";
@import "components/_404.less";
@import "components/_search-results.less";
@import "components/_log-in.less";
@import "components/_side-buttons.less";
@import "components/_circular-carousel.less";
@import "components/_block-title.less";
@import "components/_careers.less";
@import "components/_rtf-component.less";
@import "components/_map.less";
@import "components/_product-range.less";
@import "components/_pods.less";
@import "components/_addons-carousel.less";
@import "components/_tab-component.less";
@import "components/_sidebar.less";
@import "components/_blog-listing.less";
@import "components/_blog-detail.less";
@import "components/_masonry-text.less";
@import "components/_internal-navigation.less";
@import "components/_secondary-nav.less";
@import "components/_hero-banner.less";
@import "components/_promo-component.less";
@import "components/_printer-app.less";
@import "components/_technical-support.less";
@import "components/_drivers-software.less";
@import "components/_apps.less";
@import "components/_product-highlight.less";
@import "components/_product-industry.less";
@import "components/_contact-form.less";

a {
    outline: none !important;
}

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
html, body {
    height: 100%;
    padding: 0; margin: 0;
    background-color: @ableGreyBlue;
}
#website-wrapper {
    min-height: 100%;
   position: relative;
}
#main-content {
    position: relative;
    z-index: 1;
}

#Embed {
    display:none;
}

@import "_footer.less";

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: block;    /* undo display:none          */
    height: 0;         /* height:0 is also invisible */ 
    overflow: hidden;  /* no-overflow                */
}
.tab-content > .active, .pill-content > .active {
    height: auto;      /* let the content decide it  */
} /* bootstrap hack end */