﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.component-404 { 
    font-family: 'Proxima N W01 Light';
    padding-top: 11.30952380952381%;
    padding-bottom: 16.66666666666667%;
    h1 {
        color: @ableRed;
        font-size: 60px;
        margin: 0 0 70px 0;
        line-height: 55px;
    }
    p {
        font-size: 26px;
        color: @white;
        margin-bottom: 35px;
        a {
            text-decoration: none;
            color: @ableRed;
            .transition(color, 0.15s, ease);
            &:hover {
                color: @ableDarkerRed;
            }
        }
    }

    .search-form {
        margin: auto;
        max-width: 440px;
        position: relative;

        &:hover {
            input[type="search"]{
                &::-webkit-input-placeholder {
                    color: @ableRed;
                }

                &:-moz-placeholder { /* Firefox 18- */
                    color: @ableRed;
                }

                &::-moz-placeholder { /* Firefox 19+ */
                    color: @ableRed;
                }

                &:-ms-input-placeholder {
                    color: @ableRed;
                }
            }
        }

        button {
            position: absolute;
            .vertical-align-center;
            background: transparent;
            border: 0;
            color: #fff;
            right: 15px;
        }
        input[type="search"] {
            height: 35px;
            border: 2px solid #fff;
            border-radius: 20px;
            background: none;
            padding: 0 40px 0 20px;
            outline: none;
            color: #fff;
            font-size: 14px;
            font-family: 'Proxima N W01 Reg';
            width: 100%;
            &:focus{
                &::-webkit-input-placeholder {
                    color: @ableRed;
                }

                &:-moz-placeholder { /* Firefox 18- */
                    color: @ableRed;
                }

                &::-moz-placeholder { /* Firefox 19+ */
                    color: @ableRed;
                }

                &:-ms-input-placeholder {
                    color: @ableRed;
                }
            }
            &::-webkit-input-placeholder {
                color: @white;
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: @white;
            }

            &::-moz-placeholder { /* Firefox 19+ */
                color: @white;
            }

            &:-ms-input-placeholder {
                color: @white;
            }
        }
    }
}