﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.addons-carousel {
    .slick-list {
        padding-bottom: 30px;
    }  
    .slick-slide {
        outline: none;
    }
        .slick-dots {

            
            li{
                margin: 0;
                
                button{
                    border-radius: 50%;
                    background: transparent;
                    border: 1px solid @ableRed;
                    .transition(background, 0.15s, ease);
                    &:before {
                        display: none;
                    }
                }

                &.slick-active {
                    button {
                        background: @ableRed;
                    }
                }
            }

            @media(max-width: 600px){
                li{
                    width: 15px;
                    height: 15px;
                    + li {
                        margin-left: 5px;
                    }
                }
                button {
                    width: 15px;
                    height: 15px;
                }
            }
            @media(min-width: 601px){
                li{
                    width: 22px;
                    height: 22px;
                    +li {
                        margin-left: 10px;
                    }
                }
                button {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }