﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.apps-component {
    background: @ableGreyBlue;
    padding: 140px 0 170px 0;

    .col {
        color: @white;
        font-size: 18px;

        img.app-img {
            margin-bottom: 30px;
            max-width: 100%;
        }

        p {
            margin-bottom: 30px;
        }

        a {
            color: @ableRed;
            .transition(color, 0.15s, ease);

            &.light {
                text-decoration: underline;
                color: @white;

                &:hover {
                    color: @ableRed;
                }
            }
        }

        ul {
            margin: 0;

            li {
                line-height: 26px;
            }
        }

        @media(max-width: 991px) {
            + .col {
                margin-top: 40px;
            }
        }
    }


    .border-row {
        margin-bottom: 55px;
        border-bottom: 1px solid #494d54;
        padding-bottom: 60px;
    }

    .section-heading {
        margin-bottom: 40px;
        font-size: 20px;
        color: #fff;

        h2, h3 {
            color: @ableRed;
            font-family: 'Proxima N W01 Light';
        }

        h2 {
            margin: 0 0 60px 0;
            font-size: 60px;
        }

        h3 {
            color: @ableRed;
            font-size: 38px;
            margin: 0 0 40px 0;
        }

        p {
            margin: 0;
        }
    }

    header.app-intro-header {
        color: @ableRed;
        font-size: 24px;
        position: relative;

        h2 {
            display: inline-block;
            position: relative;
            margin: 20px 0 32px 0;
            padding-left: 50px;

            @media(max-width: 330px) {
                text-align: left;
            }

            i.fa {
                font-size: 44px;
                position: absolute;
                left: 0;

                &.fa-apple {
                    top: -5px;
                }

                &.fa-android {
                    top: -7px;
                }
            }

            &.apple {
                img.made-for {
                    position: absolute;
                }
            }

            @media(max-width: 519px) {
                &.apple {
                    padding-bottom: 60px;

                    img.made-for {
                        .horizontal-align-center;
                        position: absolute;
                        bottom: 0;
                    }
                }
            }

            @media(min-width: 520px) {
                &.apple {
                    padding-right: 210px;

                    img.made-for {
                        right: 0;
                        top: 0;
                        .vertical-align-center;
                    }
                }
            }
        }
    }

    ul.useful-apps-list {
        margin: 0;
        
        @media(max-width: 649px){
            li{
                + li{
                    margin-top: 50px;
                }
            }
        }

        @media(min-width: 650px) {
            li {
                display: inline;

                + li {
                    margin-left: 75px;
                }
            }
        }

        a {
            .transition(color, 0.15s, ease);
            font-size: 24px;
            color: @ableRed;
            position: relative;
            padding-left: 70px;
            text-decoration: none;

            img {
                position: absolute;
                left: 0;
                .vertical-align-center;
            }

            &:hover {
                color: @white;
            }
        }
    }
}
