﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.blog-detail-wrapper {
    background: #eee;
    padding-top: 40px;
    padding-bottom: 120px;

    .blog-detail-content {
        background: @white;
        padding: 60px 30px;
    }

    .articles-of-interest {
        text-align: center;
        padding-top: 100px;
        
        h2 {
            margin: 0 0 60px 0;
            font-size: 60px;
            font-family: 'Proxima N W01 Light';
            color: @ableRed;
        }

        @media(max-width: 767px){
           .article-wrapper + .article-wrapper {
               margin-top: 30px;
           }
        }

        @media(min-width: 1200px){
            width: 877px;
            margin: auto;
        }
    }
    ul.article-actions{
        overflow: hidden;
        position: relative;
        display: inline-block;
        li{
            + li{
                margin-left: 15px;
            }
            float: left;
        }
    }
    .share-article-to-list{
        font-size: 0;
        display: none;
        overflow: hidden;
        text-align: left;
        margin: 0;
        li {
            float: left;
            a{
                color: @white;
                display: block;
                width: 54px;
                height: 54px;
                background: @ableRed;
                border-radius: 50%;
                position: relative;
                .transition(background, 0.15s,ease);
                &:hover{
                    background-color: lighten(@ableRed, 5%);
                }
                i{
                    position: absolute;
                    .horizontal-vertical-align-center;  
                    font-size: 18px;
                }
            }
            +li {
                margin-left: 10px;
            }
        }
    }
}
