﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.block-title {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Proxima N W01 Light';
    background: @white;
    h2 {
        margin: 0;
        font-size: 60px;
        color: @ableRed;
    }
    &.dark-theme {
        background: @ableGreyBlue;
        .date {
            color: @white;
        }
    }

    .date {
        margin-top: 25px;
        font-size: 18px;
        color: @black;
        i.fa{
            margin-right: 10px;
        }
    }
}