﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.blog-listing-wrapper {
    background-color: #eee;
    padding-top: 80px;
    padding-bottom: 80px;

    .blog-grid {
        @media(max-width: 767px) {
            .blog-pod-wrapper {
                +.blog-pod-wrapper{
                    margin-top: 30px;
                }
            }
        }
        @media(min-width: 768px) and (max-width: 1199px) {
            .blog-pod-wrapper {
                +.blog-pod-wrapper{
                    &:nth-child(n+ 3){
                        margin-top: 30px;
                    }
                }
            }
        }
        @media(min-width: 1200px) {
            .blog-pod-wrapper {
                +.blog-pod-wrapper{
                    &:nth-child(n + 4){
                        margin-top: 30px;
                    }
                }
            }
        }
    }


    .blog-listing-pager {
        margin: 40px 0 0 0;
        text-transform: uppercase;
        font-size: 16px;
        color: @black;
        li {
            padding: 0;
        }
        a{
            border: 2px solid @ableRed;
            text-decoration: none;
            
            color: @white;
            background: @ableRed;
            line-height: 48px;
            height: 50px;
            padding: 0 30px;
            border-radius: 40px;
            .transition(all, 0.15s, ease);
            &:hover{
                color: @ableRed;
                background: transparent;
            }
        }

        @media(max-width: 599px){
            li {
                width: 100%;
                + li {
                    margin-top: 20px;
                }
                a {
                    display: inline-block;
                    width: 200px;
                }
            }
        }
        @media(min-width: 600px){
            li {
                + li {
                    margin-left: 30px;
                }
                a {
                    display: block;
                }
            }
        }
    }
}