﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.careers-block {
    padding: 140px 0 180px 0;

    header {
        text-align: center;
        margin-bottom: 40px;

        h2 {
            margin: 0 0 40px 0;
            font-family: 'Proxima N W01 Light';
            color: @ableRed;
            font-size: 60px;
        }

        p {
            color: @white;
            font-size: 18px;
            margin: 0;
        }
    }

    .careers-table {
        margin-bottom: 0;
        border-color: #494d54;
        color: @white;
        .description {
            margin-bottom: 8px;
        }
        .read-more{
            color: @ableRed;
            position: relative;
            padding: 0 0 0 15px;
            i.fa {
                position: absolute;
                left: 0;
                .vertical-align-center;
                font-size: 12px;
            }
        }
        thead {
            th {
                color: @ableRed;
                border-color: #494d54;
                border-bottom: 0;
                font-size: 21px;
                letter-spacing: 0.01em;
                padding: 14px 20px;
            }
        }

        tbody {
            td {
                font-size: 18px;
                padding: 14px 20px;
                border-color: #494d54;
            }
        }
    }

    @media(max-width: 767px) {
        .table-responsive {
            border: 1px solid #494d54;
        }
    }
}
