﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.circular-carousel-wrapper {
    background: @white;
    padding: 52px 0 130px 0;


    header.carousel-heading {
        h2 {
            margin: 0 0 45px 0;
            font-size: 60px;
            font-family: 'Proxima N W01 Light';
            color: @ableRed;
        }
    }

    .slick-slide {
        outline: none;
    }

    .carousel-slide {
        &:focus {
            outline: none;
        }
    }

    .circular-slide {
        .circular-img {
            position: relative;
            width: 100%;
            padding-top: 100%;
            border-radius: 50%;
            background-size: cover;
            background-position: center center;
            margin-bottom: 40px;
            overflow: hidden;
            img {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                
            }
        }

        .slide-content {
            margin-bottom: 30px;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 30px;
            font-family: 'Proxima N W01 Light';
            font-size: 32px;
            letter-spacing: 0.01em;
            color: @ableRed;
        }

        p {
            letter-spacing: 0.01em;
            line-height: 21px;
            font-size: 18px;
        }
    }

    .slick-prev {
        left: -50px;
    }

    .slick-next {
        right: -50px;
    }

    .slick-prev, .slick-next {
        width: auto;
        height: auto;
        top: 30.56426332288401%;
    }

    .slick-prev:before,
    .slick-next:before {
        font-family: FontAwesome;
        color: #ccc;
        font-size: 50px;
        font-weight: normal;
    }

    .slick-prev:before {
        content: '\f053';
    }

    .slick-next:before {
        content: '\f054';
    }

    .two-slides,
    .one-slide {
        overflow: hidden;
        margin: auto;
    }

    @media(max-width: 767px) {
        .two-slides {
            .carousel-slide + .carousel-slide {
                margin-top: 60px;
            }
        }
    }

    @media(min-width: 768px) {
        .one-slide {
            width: 375px;

            .carousel-slide {
                width: inherit;
            }
        }
    }

    @media(min-width: 992px) {
        .one-slide {
            width: 485px;

            .carousel-slide {
                width: inherit;
            }
        }

        .two-slides {
            .carousel-slide {
                width: 50%;
            }
        }
    }

    @media(min-width: 1200px) {
        .one-slide {
            width: 585px;

            .carousel-slide {
                width: inherit;
            }
        }
    }

    @media (max-width: 879px), (min-width: 992px) and (max-width: 1125px), (min-width: 1200px) and (max-width: 1344px) {
        .slick-prev, .slick-next {
            display: none !important;
        }
    }
    //THEMES
    &.dark-theme {
        background-color: @ableGreyBlue;
        .circular-img {
            background: #494d54;
            img {
                @media(max-width: 767px){
                    padding: 15px;
                }
                padding: 20px;
            }
            
        }
        .slide-content {
            color: @white;
            h3 {
                color: inherit;
            }
        }
    }
}
