﻿@import (reference) "../_colours.less";

.component-block { 

    h2 {
        font-size: 38px;
        color: @ableRed;
        font-family: 'Proxima N W01 Light';
        margin-bottom: 30px;

        &.huge {
            font-size: 60px;
        }
    }
}