﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.contact-form { 
    padding: 60px 0;
    header{
        color: @white;
        text-align: center;
        font-size: 20px;
        margin-bottom: 40px;
        p{
            margin: 0;
        }
    }

    @media(min-width: 992px) {
        .submit-form-button{
            float: right;
        }
    }

    h3 {
        margin: 25px 0 30px 0;
        font-size: 18px;
        text-align: center;
        color: @white;
    }
}