﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.drivers-component {
    background: @white;
    padding: 140px 0;
    letter-spacing: 0.01em;

    .header-row {
       margin-bottom: 60px;
        header {
            h2 {
                font-size: 60px;
                color: @ableRed;
                font-family: 'Proxima N W01 Light';
                margin: 0;
            }
        }
    }


    .driver-section{
        font-size: 16px;
        line-height: 24px;

        h3 {
            color: @ableRed;
            font-size: 24px;
            margin: 30px 0;
        }

        strong {
            font-family: 'Proxima N W01 Bold';
        }
        p, ul {
            margin-bottom: 30px;
        }
        a {
            color:@ableRed;
        }
        ul {
            list-style: none;
            padding-left: 0;
            li{
                position: relative;
                padding-left: 15px;
                &:before{
                    position: absolute;
                    font-family: FontAwesome;
                    content: '\f111';
                    left: 0;
                    font-size: 8px;
                    top: 0;
                }
            }
        }
        
    }

    @media(max-width: 991px) {

        .driver-section-wrapper {
            + .driver-section-wrapper {
                margin-top: 40px;
            }
        }
    }
}