﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.hero-banner {
    font-size: 0 !important;
    .slide {
        padding-top: 120%;
        @media(min-width: 380px) and (max-width: 767px){
            padding-top: 80%;
            
        }
        @media(min-width: 768px){
            padding-top: 46.4922711058264%;
        }
        background-position: center center;
        background-size: cover;
        position: relative;
        .slide-content {
            position: absolute;

            h2 {
                color: @black;
                letter-spacing: 0.01em;
                font-family: 'Proxima N W01 Light';
               
                .red {
                    font-family: 'Proxima N W01 Light It';     
                    color: @ableRed;
                }
            }


            @media(max-width: 767px) {
                bottom: 0;
               width: 100%;
                h2 {
                    font-size: 25px;
                    margin: 0;
                    color: @black;
                    padding: 14px 0;
                    padding-left: 15px;
                }
                .link-list{
                    display: table;
                    table-layout: fixed;
                    margin: 0;
                    width: 100%;
                    font-size: 16px;
                    li {
                        background: @white;
                        text-align: center;
                        display: table-cell;
                        padding: 0;
                        + li {
                            border-left: 1px solid #ccc;
                        }
                    }
                    a {
                        i {
                            margin-right: 5px;
                        }
                        .transition(all, 0.15s, ease);
                        color: @black;
                        text-decoration: none;
                        padding: 15px 0;
                        display: block;
                        &:hover {
                            color: @white;
                            background-color: @ableRed;
                        }
                    }
                }
            }


            @media(min-width: 768px) {
                top: 22%;
                left: 30px;
                width: 60%;
                h2 {
                    margin: 0 0 5% 0;
                    font-size: 35px;
                }

                .link-list {
                    margin: 0;
                    &.circle {
                        margin: 0;
                        font-size: 0;
                        li {
                            padding: 0;
                            + li {
                                margin-left: 30px;
                            }
                        }
                        a {
                            text-decoration: none;
                            display: block;
                            box-shadow: 0 0 0 10px rgba(0,0,0,0.15);
                            text-align: center;
                            border-radius: 50%;
                            position: relative;
                            padding-top: 100%;
                            width: 140px;
                            color: @ableRed;
                            background-color: @white;
                            text-transform: uppercase;
                            font-size: 14px;
                            &:hover {
                                color: @white;
                                background-color: @ableRed;
                            }
                            .link-content{
                                width: 100%;
                                i {
                                    margin-bottom: 10px;
                                    display: block;
                                    font-size: 40px;
                                }
                                position: absolute;
                                .horizontal-vertical-align-center;
                            }
                        }
                    }

                    &.pill {
                        a {
                            text-transform: uppercase;
                            text-decoration: none;
                            letter-spacing: 0.01em;
                            color: @ableRed;
                            border: 2px solid @white;
                            background-color: @white;
                            font-size: 16px;
                            display: block;
                            border-radius: 40px;
                            padding: 14px 28px;
                            &:hover {
                                background-color: @ableRed;
                                color: @white;
                                border-color: @ableRed;
                            }
                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }


            @media(min-width: 992px){
                h2 {
                    font-size: 55px;
                }
                .link-list {
                    &.circle {
                        a {
                            font-size: 16px;
                            width: 160px;
                            .link-content {
                                i {
                                    font-size: 44px;
                                }
                            }
                        }
                    }
                }
            }
            @media(min-width: 1199px){
                h2 {
                    font-size: 65px;
                }
                .link-list {
                    &.circle {
                        a{
                            font-size: 18px;
                            width: 180px;
                            .link-content{
                                i {
                                    font-size: 48px;
                                }
                            }
                        }
                    }
                }
            }
            @media(min-width: 1300px){
                h2 {
                    font-size: 85px;
                }
                .link-list{
                    &.circle{
                        a{
                            width: 180px;
                        }
                    }
                }
            }

        }
    }
}