﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.internal-navigation {
    width: 100%;
    margin: 0;
    &.tab-fixed {
        position: fixed;
        top: 0;
    }
    li {
        text-align: center;
        background: #eee;
        font-family: 'Proxima N W01 Light';
        font-size: 20px;
        .transition(background, 0.15s,ease);
        &:hover {
            background: @white;
        }
        a {
            padding: 16px 0;
            display: block;
            color: @black;
            text-decoration: none;
            i.fa {
                margin-left: 5px;
                font-size: 26px;
                color: @ableRed;
            }
        }
    }

    &.item-number-2 {
        @media(min-width: 768px){
            overflow:hidden;
            li {
                + li {
                    border-left: 1px solid #aaa;
                }
                float: left;
                width: 50%;
            }
        }
    }

    &.item-number-3 {
        @media(min-width: 768px){
            overflow:hidden;
            li {
                float: left;
                width: 33.3333333333333333333333%;
                border-left: 1px solid #aaa;
                &:first-child{
                    border-left: 0;
                }
            }
        }
    }

    &.item-number-4, 
    &.item-number-5 {
        @media(min-width: 768px) and (max-width: 991px){
            overflow:hidden;
            li {
                float: left;
                width: 50%;
            }
        }
        @media(min-width: 992px){
            display: table;
            li {
                display: table-cell;
            }
        }
    }

    &.item-number-4 {

        li {
            @media(min-width: 768px) and (max-width: 991px){
                &:nth-child(1), &:nth-child(2){
                    border-bottom: 1px solid #aaa;
                }
                &:nth-child(2), &:nth-child(4){
                    border-left: 1px solid #aaa;
                }
            }
            @media(min-width: 992px) {
                + li {
                    border-left: 1px solid #aaa;
                }
                    
            }
        }
    }

    &.item-number-5 {

        li {
            @media(min-width: 768px) and (max-width: 991px) {
                &:nth-child(3),&:nth-child(4),&:nth-child(5) {
                    border-top: 1px solid #aaa;
                }
                &:nth-child(2), &:nth-child(4) {
                    border-left: 1px solid #aaa;
                }
            }
            @media(min-width: 992px) {
                +li {
                    border-left: 1px solid #aaa;
                }
            }
        }
    }

    &.item-number-6 {
        @media(min-width: 768px) and (max-width: 991px){
            overflow:hidden;
            li {
                float: left;
                width: 50%;
                &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){
                    border-top: 1px solid #aaa;
                }
                &:nth-child(2), &:nth-child(4), &:nth-child(6){
                    border-left: 1px solid #aaa;
                }
            }
        }
        @media(min-width: 992px) and (max-width: 1199px){
            overflow:hidden;
            li {
                float: left;
                width: 33.3333333333333333333333%;

                &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                    border-top: 1px solid #aaa;
                }
                &:nth-child(2), &:nth-child(3), &:nth-child(5), &:nth-child(6) {
                    border-left: 1px solid #aaa;
                }
            }
        }
        @media(min-width: 1200px){
            display: table;
            li {
                display: table-cell;
                + li {
                    border-left: 1px solid #aaa;
                }
            }
        }
    }
   
    @media(max-width: 767px){
        li + li{
            border-top: 1px solid #aaa;
        }
    }
}