﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";


.log-in-component {

    input[type="password"],
    input[type="tel"],
    input[type="email"],
    input[type="text"],
    select {
        border: 1px solid #ccc;
        height: 38px;
        color: @ableGrey;
        padding: 0 15px;
        width: 100%;

        &::-webkit-input-placeholder {
            color: inherit;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: inherit;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: inherit;
        }

        &:-ms-input-placeholder {
            color: inherit;
        }

        &:focus {
            outline: none;

            &::-webkit-input-placeholder {
                color: @ableRed;
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: @ableRed;
            }

            &::-moz-placeholder { /* Firefox 19+ */
                color: @ableRed;
            }

            &:-ms-input-placeholder {
                color: @ableRed;
            }
        }
    }

    .log-in-col {
        h2 {
            margin: 0 0 30px 0;
            color: @ableRed;
            font-size: 38px;
            font-family: 'Proxima N W01 Light';
        }

        p {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 25px;
        }
    }

    .forgot-password-row {
        margin-top: 25px;

        p {
            margin: 0;
            font-size: 14px;
        }
    }

    .sign-up-form {
        overflow: hidden;
    }

    @media(max-width: 767px) {
        .log-in-col {
            padding-top: 60px;
            padding-bottom: 60px;

            &.log-in {
                background-color: @white;
            }
        }

        background-color: #e5e5e5;
    }

    @media(min-width: 768px) {
        .forgot-password-row {
            margin-top: 45px;
        }

        background-image: url(/images/log-in-bg.jpg);
        background-position: center;
        background-repeat: repeat-y;
    }

    @media(min-width: 768px) and (orientation: portrait) {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    @media(min-width: 768px) and (orientation: landscape) {
        padding-top: 11.5%;
        padding-bottom: 11.5%;
    }

    @media(max-width: 991px) {
        .sign-up-form {

            .company-name {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .email-address, .sign-up-button {
                margin-top: 15px;
            }
        }

        .forgot-password-row {
            button {
                margin-top: 15px;
            }
        }
    }

    @media(min-width:992px ) {
        .sign-up-form {
            .top-row {
                margin-bottom: 15px;
            }

            .bottom-row {
                margin-bottom: 15px;
            }

            button {
                float: right;
            }
        }

        .forgot-password-row {
            height: 54px;
            position: relative;

            p {
                position: absolute;
                .vertical-align-center;
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    @media(min-width: 768px) and (max-width: 1280px) {
        .content {
            padding: 0 15px;
        }
    }


    @media(min-width: 1279px) {

        .forgot-password-row {
            margin-top: 15px;
        }

        .content {
            width: 610px;
            margin: auto;
        }
    }
}
