﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

#map-wrapper {
    height: 660px;
    position: relative;
    
    .contact-box {
        position: absolute;
        background-color: @white;
        z-index: 3;
        left: 30px;
        
        .contact-section {
            h4 {
                font-family: 'Proxima N W01 Bold';
                color: @ableRed;
                margin: 0 0 5px 0;
            }
            p {
                margin: 0;
                line-height: 21px;
                letter-spacing: 0.01em;
            }

            a {
                color: @black;
                text-decoration: none;
                .transition(color, 0.15s, ease);
                &:hover {
                    color: @ableRed;
                }
            }
        }
    }

    #locationMap {
        z-index: 2;
        position: relative;
        height: inherit;
    }

    @media(max-width: 767px) {
        .contact-box {
            padding: 20px;
            font-size: 16px;
            right: 30px;
            bottom: 30px;
            h3 {
                margin: 0 0 15px 0;
            }
            .contact-section + .contact-section {
                margin-top: 15px;
            }
        }
    }
    @media(min-width: 768px){
        .contact-box {
            padding: 30px;
            font-size: 18px;
            width: 400px;
            .vertical-align-center;
            h3 {
                font-size: 26px;
                margin: 0 0 30px 0;
            }
            .contact-section + .contact-section {
                margin-top: 30px;
            }
        }
    }
}