﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.masonry-text-component {
    background: @ableGreyBlue;
    padding: 70px 0 160px 0;

    header.section-heading {
        margin-bottom: 60px;
        h2 {
            color: @ableRed;
            font-family: 'Proxima N W01 Light';
            font-size: 60px;
            margin: 0;
        }
    }

    .text-section {
        header {
            margin-bottom: 10px;
            h3 {
                color: @ableRed;
                font-size: 24px;
                margin: auto;
            }
        }
        p {
            color: @white;
            margin: 0;
            font-size: 18px;
        }
    }

    .masonry-text-grid {

        .text-section-wrapper {
            &:nth-child(4n){
                clear: both;
            }
            p, ol, ul {
                    display: none;
            }
            ol, ul {
                li {
                    color: white;
                }
            }
        }

        @media(max-width: 767px){
            .text-section-wrapper + .text-section-wrapper{
                margin-top: 40px;
            }
        }

        @media(min-width: 768px) and (max-width: 991px){
            .text-section-wrapper {
               &:nth-child(n+3) {
                   margin-top: 40px;
               }
            }
        }

        @media(min-width: 992px) {
            .text-section-wrapper {
               &:nth-child(n+4) {
                   margin-top: 40px;
               }
            }
        }

    }
}