﻿@import (reference) "../_colours.less";

#nav-spacer{
    height:35px;
    background-color: #fff;

    &.dark-theme{
        background-color: @ableGreyBlue;
    }
    @media(min-width: 768px) {
        height: 67px;
    }
}

#log-in-spacer {
    background: @white;
    height: 35px;
}