﻿@import (reference) "../_colours.less";
@import (reference) "../_elements.less";
@import (reference) "../_fonts.less";

.need-help {
    padding: 90px 0;
    background-color: @white;
    background-position: center center;
    background-size: cover;
    h2 {
        margin-top: 0 !important;
        font-size: 60px;
        color: @ableRed;
        font-family: 'Proxima N W01 Light';
        margin-bottom: 30px;
    }

    .help-methods {
        font-size: 0;
        margin-bottom: 0;
        li {
            padding: 0;
        }

        a {
            text-decoration: none;
            color: @ableRed;
            display: block;
            font-size: 24px;

            &:hover {
                .icon {
                    background-color: lighten(@ableGreyBlue, 8%);
                    color: @white;
                }
            }
        }

        .icon {
            .transition(all, 0.15s, ease);
            position: relative;
            margin: auto;
            border-radius: 50%;
            background: @ableGreyBlue;
            border: 24px solid #dddedf;
            color: @ableRed;
                

            .fa {
                position: absolute;
                .horizontal-vertical-align-center;
            }
        }
    }
    
    @media(max-width: 767px) {
        .help-methods {
            li {
                width: 100%;
                + li {
                    margin-top: 45px;
                }
            }
        }
    }
    
    @media(max-width: 991px){
        .help-methods{
            .icon {
                font-size:50px;
                width: 200px;
                height: 200px;
                margin-bottom: 20px;
            }
        }
    }
    
    @media(min-width: 768px) and (max-width: 991px) {
        .help-methods {
            li{
                a{
                    font-size: 20px;
                }
                
                width: 33.3333333333333333333%;
            }
        }
    }
 
    @media(min-width: 992px) {
        .help-methods {
            li + li{
                margin-left: 60px;
            }
            .icon {
                font-size:60px;
                width: 245px;
                height: 245px;
                margin-bottom: 30px;
            }
        }
    }
   
}
