﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.pod {
    text-align: center;
    background: @white;
    padding: 15px;
    .img {
        background: orange;
        margin-bottom: 20px;
        padding-top: 64.97175141242938%;
        position: relative;
        background-position: center center;
        background-size: contain;
        a {
            .transition(background, 0.15s, ease);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: @ableRed;
            i.fa {
                opacity: 0.8;
                position: absolute;
                font-size: 82px;
                .transition(opacity, 0.15s, ease);
                .horizontal-vertical-align-center;
            }
            &:hover {
                background: rgba(0,0,0,0.1);
                i.fa {
                    opacity: 1;
                }
            }
        }
    }
    .date{
        font-size: 16px;
        margin-bottom: 15px;
    }
    &.video-pod{
       p{
           font-family: 'Proxima N W01 Light';
           font-size: 24px;
           line-height: 28px;
       }
    }
    &.blog-pod {
        header {
            margin-bottom: 15px;
            h3 {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    header {
        margin-bottom: 15px;
        h3 {
            margin: 0;
            color: @ableRed;
            font-family: 'Proxima N W01 Light';
            font-size: 32px;
            line-height: 32px;
        }
    }
    p {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.01em;

        + .custom-btn {
            margin-top: 20px;
        }
    }
}