﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.printer-app-component {
    text-align: center;
    letter-spacing: 0.01em;
    background-color: @ableGreyBlue;
    padding-top: 215px;
    padding-bottom: 270px;
    position: relative;

    .question-progress-indicator{
        position: absolute;
        bottom: 40px;
        .horizontal-align-center;
        margin: 0;
        font-size: 0;
        li{
            padding: 0;
            width: 29px;
            height: 29px;
            border-radius: 50%;
            border: 2px solid #71747a;
            position: relative;
            + li {
                margin-left: 10px;
            }

            &.completed {
                border-color: @white;
                background-color: @ableRed;
                &:after {
                    position: absolute;
                    color: #fff;
                    .horizontal-vertical-align-center;
                    font-family: FontAwesome;
                    content: '\f00c';
                    font-size: 14px;
                }
            }
        }
    }

    
    header {
        margin-bottom: 50px;
        h2 {
            margin: 0;
            font-family: 'Proxima N W01 Light';
            font-size: 60px;
            color: @ableRed;
            line-height: 60px;
        }
    }

    .question-data {
        .qu-num {
            background: @ableRed;
            color: @white;
            display: inline-block;
            padding: 5px 10px;
            font-size: 18px;
            font-family: 'Proxima N W01 Bold';
            margin-bottom: 30px;
        }
        .qu {
            color: @white;
            font-size: 26px;
        }
        .qu-wrapper {
            margin-bottom: 70px;
        }

        .answers-list {
            margin: 0 0 20px 0;
            padding: 0;

            li {
                display: inline-block;
                width: 173px;
                padding: 10px 20px;
                color: @white;
                vertical-align: top;
                font-size: 14px;
            }

            .answer {
                margin-bottom: 25px;
                cursor: pointer;
                border-radius: 50%;
                width: 133px;
                height: 133px;
                background: @white;
                .transition(all, 0.15s, ease);
                position: relative;
                &:hover, &.active{
                    box-shadow: 0 0 0 10px rgba(255,255,255,0.15);
                }

                &.active{
                    background-color: @ableRed;
                }
                img {
                    position: absolute;
                    .horizontal-vertical-align-center;
                    max-width: 75px;
                }
                
            }
        }
    }
}