﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.product-highlight-component {
    
    background-color: @ableRed;
    padding: 130px 0;
    position: relative;
    text-align: center;

    &:before {
        content: '';
        width: 4px;
        background: #1c2029;
        position: absolute;
        .horizontal-align-center;
        top: 0;
        bottom: 0;
        z-index: 2;
    }

    h2 {
        color: @white;
        display: inline-block;
        background: #1c2029;
        margin: 0;
        padding: 15px 40px;
        font-size: 60px;
        font-family: 'Proxima N W01 Light';
        margin-bottom: 90px;
    }


    .content-wrapper {
        position: relative;
        z-index: 3;
    }


    .content {
        margin-bottom: 120px;
        position: relative;
        
        ul {
            text-align: left;
            margin: 0;
            color: @white;
            position: absolute;
            top: 19.14414414414414%;
            width: 360px;
            letter-spacing: 0.01em;
            font-size: 18px;
            line-height: 21px;
            li {
                position:relative;
                padding-left: 63px;
                .icon {
                    left: 0;
                    position: absolute;
                    width: 48px;
                    height: 48px;
                    background: @white;
                    border-radius: 50%;
                    top: 0;
                     i.fa{
                        color: @ableRed;
                        position: absolute;
                        font-size: 25px;
                        .horizontal-vertical-align-center;
                    }
                }

                + li {
                    margin-top: 50px;
                }


            }
                &.left-list {
                    left: 9.928656361474435%;
                }
                &.right-list {
                    left: 67.30083234244946%;
                }
        }

        .product-image {
            border-radius: 50%;
            width: 26.42857142857143%;
            padding-top: 26.42857142857143%;
            background: @ableRed;
            margin: auto;
            -webkit-box-shadow: 0 0 0 25px rgba(28,32,41,1);
            -moz-box-shadow: 0 0 0 25px rgba(28,32,41,1);
            box-shadow: 0 0 0 25px rgba(28,32,41,1);
            position: relative;

            img {
                 position: absolute;
                .horizontal-vertical-align-center;
                width: 80%;
            }
        }
        
    }
    /*.image-overlay {
        position: absolute;
        .horizontal-align-center;
        width: 26.42857142857143%;
        top: 0;
        bottom: 0;
        z-index: 2;
        &:before {
            content: '';
            position: absolute;
            width: 4px;
            background: #1c2029;
            top: 0;
            bottom: 0;
            .horizontal-align-center;
        }

        .image {
           
            box-shadow: 0 0 0 25px rgba(28,32,41,1);
            position: absolute;
            width: 100%;
            padding-top: 100%;
            background: @ableRed;
            .vertical-align-center;
            border-radius: 50%;
            img{
                position: absolute;
                .horizontal-vertical-align-center;
                width: 80%;
            }
        }
    }*/

    

    /*
    .content{
        position: relative;
        z-index: 3;
    }
    */
 
   // height: 1080px;
    /*.image-overlay {
        position: absolute;
        .horizontal-align-center;
        width: 26.42857142857143%;
        top: 0;
        bottom: 0;

        &:before {
            content: '';
            position: absolute;
            width: 4px;
            background: #1c2029;
            top: 0;
            bottom: 0;
            .horizontal-align-center;
        }

        .image {
            -webkit-box-shadow: 0 0 0 25px rgba(28,32,41,1);
            -moz-box-shadow: 0 0 0 25px rgba(28,32,41,1);
            box-shadow: 0 0 0 25px rgba(28,32,41,1);
            position: absolute;
            width: 100%;
            padding-top: 100%;
            background: @ableRed;
            .vertical-align-center;
            border-radius: 50%;
            img{
                position: absolute;
                .horizontal-vertical-align-center;
                width: 80%;
            }
        }
    }*/

}