﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.promo-component {
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 1080px;
    

    .promo-carousel {
        position: absolute;
        .vertical-align-center;
        left: 1.664684898929845%;
        width: 32.22354340071344%;
        
         .slick-dots {
            li {
                margin: 0;
                
                button {
                    border-radius: 50%;
                    background: transparent;
                    border: 1px solid @ableRed;
                    .transition(background, 0.15s, ease);
                    &:before {
                        display: none;
                    }
                }

                &.slick-active {
                    button {
                        background: @ableRed;
                    }
                }
            }

            @media(max-width: 600px){
                li {
                    width: 15px;
                    height: 15px;
                    + li {
                        margin-left: 5px;
                    }
                }
                button {
                    width: 15px;
                    height: 15px;
                }
            }

            @media(min-width: 601px){
                li{
                    width: 22px;
                    height: 22px;
                    +li {
                        margin-left: 10px;
                    }
                }
                button {
                    width: 22px;
                    height: 22px;
                }
            }
        }

        .slick-slide {
            outline: none;
        }

        .slide {
            .subhead {
                font-family: 'Proxima N W01 Bold';
                background-color: @ableRed;
                color: @white;
                display: inline-block;
                font-size: 18px;
                padding: 10px;
                margin-bottom: 30px;
            }

            header {
                margin: 0 0 30px 0;
                h2 {
                    margin: 0 0 10px 0;
                    font-family: 'Proxima N W01 Light';
                    font-size: 60px;
                    line-height: 48px;
                    color: @ableRed;
                    letter-spacing: 0.01em;
                }
                h3 {
                    font-family: 'Proxima N W01 Light';
                    font-size: 32px;
                    color: @ableRed;
                    margin: 0;
                }
            }

            .slide-content {
                font-size: 18px;
                margin-bottom: 20px;
                color: @black;
                p{
                    margin-bottom: 30px;
                    &:last-of-type{
                        margin-bottom: 0
                    }
                }
            }

            a.custom-btn{
                margin-bottom: 30px;
            }
        }
    }

    .image-overlay {
        position: absolute;
        .horizontal-align-center;
        width: 26.42857142857143%;
        top: 0;
        bottom: 0;

        &:before {
            content: '';
            position: absolute;
            width: 4px;
            background: @ableRed;
            top: 0;
            bottom: 0;
            .horizontal-align-center;
        }

        .image {
            -webkit-box-shadow: 0 0 0 25px rgba(255,255,255,0.4);
            -moz-box-shadow: 0 0 0 25px rgba(255,255,255,0.4);
            box-shadow: 0 0 0 25px rgba(255,255,255,0.4);
            position: absolute;
            width: 100%;
            padding-top: 100%;
            background: @ableRed;
            .vertical-align-center;
            border-radius: 50%;
            img{
                position: absolute;
                .horizontal-vertical-align-center;
                width: 80%;
            }
        }
    }
}
