﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.product-range {
    padding: 120px 0;
    background-color: @ableLightGrey;


    .wrapper-header {
        margin-bottom: 50px;
        text-align: center;

        h2 {
            margin: 0;
            font-size: 60px;
            color: @ableRed;
            font-family: 'Proxima N W01 Light';
            

            + p {
                margin: 40px 0 0 0;
                font-size: 18px;
                letter-spacing: 0.01em;
                line-height: 21px;
            }
        }
    }

    &.light-theme {
        background-color: @white;
    }

    &.dark-theme {
        background-color: @ableGreyBlue;

        .wrapper-header {
            p {
                color: @white;
            }
        }
    }

    .product-range-carousel {
        .slick-list {
            margin-bottom: 20px;
            .slick-slide{
                outline: none;
                > div {
                    overflow: hidden;
                    @media(min-width: 701px) and (max-width: 992px) {
                        &:nth-child(2){
                            margin-top: 30px;
                        }
                    }
                    @media(min-width: 993px) {
                        &:nth-child(2), &:nth-child(3) {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }

        .slick-dots {

            
            li{
                margin: 0;
                
                button{
                    border-radius: 50%;
                    background: transparent;
                    border: 1px solid @ableRed;
                    .transition(background, 0.15s, ease);
                    &:before {
                        display: none;
                    }
                }

                &.slick-active {
                    button {
                        background: @ableRed;
                    }
                }
            }

            @media(max-width: 600px){
                li{
                    width: 15px;
                    height: 15px;
                    + li {
                        margin-left: 5px;
                    }
                }
                button {
                    width: 15px;
                    height: 15px;
                }
            }
            @media(min-width: 601px){
                li{
                    width: 22px;
                    height: 22px;
                    +li {
                        margin-left: 10px;
                    }
                }
                button {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}