﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.industry-component {
    background-color: @ableRed;
    padding: 130px 0 170px 0;
    position: relative;
    text-align: center;

    .header-container {
        margin-bottom: 85px;

        header {
            color: @white;

            h2 {
                margin: 0;
                font-size: 60px;
                font-family: 'Proxima N W01 Light';
                margin-bottom: 50px;
            }

            h3 {
                padding: 10px 15px;
                font-size: 24px;
                display: inline-block;
                font-family: 'Proxima N W01 Light';
                margin: 0;
                background-color: #1c2029;
                margin-bottom: 30px;
            }

            p {
                &.large {
                    font-size: 20px;
                    margin-bottom: 40px;
                }
                &:not(.large){
                    margin: 0;
                }
                font-size: 18px;
            }
        }
    }





    .content-wrapper {
        position: relative;
        z-index: 3;
    }


    .content {
        position: relative;

        ul {
            text-align: left;
            margin: 0;
            color: @white;
            position: absolute;
            top: 19.14414414414414%;
            width: 360px;
            letter-spacing: 0.01em;
            font-size: 18px;
            line-height: 21px;

            li {
                position: relative;
                padding-left: 63px;

                .icon {
                    left: 0;
                    position: absolute;
                    width: 48px;
                    height: 48px;
                    background: @white;
                    border-radius: 50%;
                    top: 0;

                    i.fa {
                        color: @ableRed;
                        position: absolute;
                        font-size: 25px;
                        .horizontal-vertical-align-center;
                    }
                }

                + li {
                    margin-top: 50px;
                }
            }

            &.left-list {
                left: 9.928656361474435%;
            }

            &.right-list {
                left: 67.30083234244946%;
            }
        }

        .product-image {
            border-radius: 50%;
            width: 26.42857142857143%;
            padding-top: 26.42857142857143%;
            background: @ableRed;
            margin: auto;
            -webkit-box-shadow: 0 0 0 25px rgba(28,32,41,1);
            -moz-box-shadow: 0 0 0 25px rgba(28,32,41,1);
            box-shadow: 0 0 0 25px rgba(28,32,41,1);
            position: relative;

            img {
                position: absolute;
                .horizontal-vertical-align-center;
                width: 60%;
            }
        }
    }
    
}