﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.quote-carousel-component {
    
    padding-top: 130px;
    padding-bottom: 160px;
    background-color: @ableGreyBlue;

    .slick-dots {

            li {
                margin: 0;
                
                button {
                    border-radius: 50%;
                    background: transparent;
                    border: 1px solid @ableRed;
                    .transition(background, 0.15s, ease);
                    &:before {
                        display: none;
                    }
                }

                &.slick-active {
                    button {
                        background: @ableRed;
                    }
                }
            }

            @media(max-width: 600px){
                li {
                    width: 15px;
                    height: 15px;
                    + li {
                        margin-left: 5px;
                    }
                }
                button {
                    width: 15px;
                    height: 15px;
                }
            }

            @media(min-width: 601px){
                li{
                    width: 22px;
                    height: 22px;
                    +li {
                        margin-left: 10px;
                    }
                }
                button {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    
    .slick-slide{
        outline: none;
    }

    .quote-slide {
        color: #fff;
        text-align: center;
        letter-spacing: -0.01em;
        a{
            outline: none;
            color: @white;
            text-decoration: none;
        }
        .quote {
            padding: 100px 25px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            font-family: 'Proxima N W01 Light';
            line-height: 30px;
        }

        .name {
            margin-top: 22px;
            margin-bottom:30px;
        }

        &:focus {
            outline: none;
        }
    }

    //optional light theme
    &.light-theme{
        background-color: @white;

        .quote-slide, .quote-slide a{
            color: @black
        }
    }
    @media(max-width: 767px) {
        .quote-slide{
            .quote{
                font-size: 21px;
            }
            .name {
                font-size: 18px;
            }
        }
    }

    @media(min-width: 768px) {
        .quote-slide {
            padding: 30px 85px 0 85px;

            .quote {
                font-size: 30px;
                position: relative;

                &:before, &:after {
                    background-image: url(/images/quote.png);
                }

                &:before {
                    width: 57px;
                    height: 46px;
                    position: absolute;
                    top: -30px;
                    left: -85px;
                    content: '';
                }

                &:after {
                    width: 58px;
                    height: 46px;
                    background-position: -57px -46px;
                    position: absolute;
                    bottom: -23px;
                    right: -85px;
                    content: '';
                }
            }

            .name {
                font-size: 24px;
            }
        }
    }
}