﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";
.rtf-band{
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: @white;
}
.rtf-component {
    text-align: center;
    .rtf-content {
        margin-bottom: 40px;

        h2 {
            margin-top: 0;
            font-family: 'Proxima N W01 Light';
            font-size: 38px;
            color: @ableRed;
            letter-spacing: -0.01em;
            margin-bottom: 40px;
        }
        p{
            font-size: 18px;
            margin-bottom: 40px;
        }
        img {
            max-width: 100%;
            margin: auto;
            display: inline-block;
            margin-bottom: 40px;
        }
        ul {
            font-size: 18px;
            list-style-position: inside;
            margin-bottom: 40px;
            padding: 0;
            
            li + li {
                margin-top: 10px;
            }
        }
    }

}