﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.search-results-wrapper {
    padding-top: 70px;
   
    > header {
        text-align: center;
        padding: 0 15px;

        h1 {
            font-family: 'Proxima N W01 Light';
            font-size: 38px;
            line-height: 38px;
            color: @ableRed;
            margin-top: 0;
            margin-bottom: 60px;

            .search-criteria {
                color: @white;
            }
        }
    }

    .search-results{
         margin-bottom: 70px;
    }

    .result {
        h3, a {
            color: @ableRed;
        }

        h3 {
            margin: 0 0 15px 0;
            color: @ableRed;
            font-size: 24px;
        }

        p {
            line-height: 26px;
            color: @white;
            font-size: 18px;
            letter-spacing: -0.01em;
        }

        a {
            .transition(color, 0.15s, ease);
            font-size: 18px;
            text-decoration: none;
            line-height: 16px;
            &:hover {
                color: lighten(@ableRed, 10%);
            }
        }

        @media(max-width: 767px){
            margin-bottom: 50px;
            
        }
        @media(min-width: 768px){
            &:nth-child(n+3){
                margin-top: 40px;
            }
        }
        
    }
   
    .search-results-pager {
        margin: 0 0 125px 0;
        text-transform: uppercase;
        font-size: 16px;
        color: @white;
        li {
            padding: 0;
        }
        a{
            border: 2px solid @ableRed;
            text-decoration: none;
            
            color: @white;
            background: @ableRed;
            line-height: 48px;
            height: 50px;
            padding: 0 30px;
            border-radius: 40px;
            .transition(all, 0.15s, ease);
            &:hover{
                color: @ableRed;
                background: transparent;
            }
        }

        @media(max-width: 599px){
            li {
                width: 100%;
                + li {
                    margin-top: 20px;
                }
                a {
                    display: inline-block;
                    width: 200px;
                }
            }
        }
        @media(min-width: 600px){
            li {
                + li {
                    margin-left: 30px;
                }
                a {
                    display: block;
                }
            }
        }
    }
      
}