﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

@borderColor: #ccc;

.secondary-nav {
    overflow: hidden;
    background: @white;
    font-family: 'Proxima N W01 Bold';
    font-size: 13px;
    margin: 0;
    letter-spacing: 0.01em;
    a {
        width: 100%;
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        color: @black;
        display: block;
        padding: 30px 0;
        text-decoration: none;
    }
    .content {
        position: absolute;
        width: 85%;
        .horizontal-align-center;
    }
    .icon {        
        margin: 0 auto 20px auto;
        img {
            height: 73px;
        }
    }
    li {
        .transition(background, 0.15s, ease);
        height: 180px;
        position: relative;
        text-align: center;
        width: 100%;
        @media(max-width: 499px) {
            + li {
                border-top: 1px solid @borderColor;
            }
        }
        @media(min-width: 500px){
            float: left;
        }
        @media(min-width: 500px) and (max-width: 767px){
            width: 50%;
            &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7),&:nth-child(8) {
                border-top: 1px solid @borderColor;
            }
            &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
                border-left: 1px solid @borderColor;
            }
        }
        @media(min-width: 768px) and (max-width: 1199px) {
            width: 25%;
            &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
                border-top: 1px solid @borderColor;
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(6),&:nth-child(7),&:nth-child(8) {
                border-left: 1px solid @borderColor;
            }
        }
        @media(min-width:1200px) {
            width: 12.5%;
            +li {
                border-left: 1px solid @borderColor;
            }
        }

        &:hover {
            background-color: darken(@white, 10%);
        }
    }
}