﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.sidebar-content {
    background:@white;
    padding: 15px;
    height: 100%;
    letter-spacing: 0.01em;
    h2 {
        font-size: 25px;
        font-family: 'Proxima N W01 Light';
        margin: 35px 0 30px 0; 
        letter-spacing: 0.01em;
        color: @ableRed;
    }
    a{
        text-decoration: none;
        color: @black;
        .transition(color, 0.15s, ease);
        &:hover{
            color: @ableRed;
        }
    }
    ul{
        font-size: 16px;
        li{
            padding: 0;
        }
        li + li{
            margin-top: 5px;
        }
    }

    header {
        font-size: 18px;
        font-family: 'Proxima N W01 Bold';
        margin-bottom: 15px;
    }
    .year-section {
        +.year-section {
            margin-top: 40px;
        }
    }
}