﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

#side-buttons {
    overflow: hidden;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: fixed;
    right: -106px;
    z-index: 9999;
    top: 400px;
    font-size: 16px;

    a.side-button {
        color: @white;
        display: block;
        padding: 0 28px;
        float: left;
        background: green;
        line-height: 52px;
        text-decoration: none;
        .transition(all, 0.15s, ease);

        + .side-button {
            margin-left: 8px;
        }

        &.contact-us {
            background-color: @ableRed;

            &:hover {
                background-color: lighten(@ableRed, 5%);
            }
        }

        &.live-chat {
            background-color: @black;

            &:hover {
                background-color: lighten(@black, 5%);
            }
        }
    }
}