﻿@import (reference) "../_colours.less";
@import (reference) "../_elements.less";
@import (reference) "../_fonts.less";

.social-component {
    color: @white;
    padding-top: 180px;
    padding-bottom: 90px;
    background-color: @ableGreyBlue;

    .social-item {
        background-color: rgba(255,255,255,0.1);
        position: relative;
        padding-top: 120px;
        padding-bottom: 90px;

        > header {
            position: absolute;
            width: 180px;
            height: 180px;
            border-radius: 50%;
            .horizontal-align-center;
            top: -90px;
            box-shadow: 0 0 0 17px rgba(255,255,255,0.1);

            .header-text {
                text-transform: uppercase;
                position: absolute;
                .horizontal-vertical-align-center;
                text-align: center;
                font-family: 'Proxima N W01 Bold';
                font-size: 28px;
                line-height: 28px;
            }
        }
       
        a.custom-btn {
            border-color: @white;
            color: @white;
        }

        &.blog-theme {
            > header {
                background-color: @ableRed;
            }

            .social-items{
                header {
                    color: @ableRed;
                }
            }
            a.custom-btn{
                &:hover{
                    background: @ableRed;
                    border-color: @ableRed;
                }
            }
            p{
                a{
                    color: @ableRed;
                }
            }
        }
        &.social-theme {
            > header {
                background-color: @ableLightBlue;
            }

            .social-items {
                header {
                    color: @ableLightBlue;
                }
            }
            a.custom-btn {
                &:hover {
                    background: @ableLightBlue;
                    border-color: @ableLightBlue;
                }
            }

            p {
                a {
                    color: @ableLightBlue;
                }
            }
        }

    }

    .social-items {
        text-align: center;
        padding: 0 15px;

        header {
            
            font-size: 18px;
            margin-bottom: 20px;
        }
        p {
            font-family: 'Proxima N W01 Light';
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 40px;
        }
        
    }
    //Media Queries
    @media(max-width: 767px) {
        .social-items .item + .item {
            display: none
        }

    }

    @media(max-width: 991px) {
        .social-col + .social-col {
            margin-top: 150px;
        }
    }
}
