﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.tab-component {

    .tab-nav {
        padding: 0;
        margin: 0;
        background: red;
        /*overflow: hidden;*/
        width: 100%;

        li {
            padding: 0;
            
            a {
                text-decoration: none;
                font-size: 26px;
                padding: 15px 0;
                display: block;
                color: @black;
                font-family: 'Proxima N W01 Light';
            }
            //default (something isnt right) colour
            background: green;
        }
        //theme
        &.light-theme {
            li {
                background-color: #d5d5d5;
                text-align: center;
                border-right: 1px solid #aaa;
                border-left: 1px solid #ddd;
                &:first-child {
                    &.active {
                        +li {
                            border-left: 0;
                        }
                    }
                }

                &:nth-child(2){
                    &.active {
                        +li {
                            border-left: 0;
                        }
                    }
                }

                &.active {
                    border: 0;
                    position: relative;
                    background-color: @white;

                }
                @media(min-width: 768px){
                    &.active {
                        &:after {
                            position: absolute;
                            content: '';
                            width: 22px;
                            height: 22px;
                            left: 0;
                            background-color: @white;
                            bottom: -11px;
                            .horizontal-align-center;
                            -moz-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }

        &.dark-theme {
            li {
                background-color: #696b71;
                text-align: center;
                border-right: 1px solid #57595d;
                border-left: 1px solid #96989c;
                a {
                    color: @white;
                }
                &:first-child {
                    &.active {
                        +li {
                            border-left: 0;
                        }
                    }
                }

                &:nth-child(2){
                    &.active {
                        +li {
                            border-left: 0;
                        }
                    }
                }

                &.active {
                    border: 0;
                    position: relative;
                    background-color: #3e4149;
                    a {
                        color: @ableRed;
                    }
                }
                @media(min-width: 768px){
                    &.active {
                        &:after {
                            position: absolute;
                            content: '';
                            width: 22px;
                            height: 22px;
                            left: 0;
                            background-color: #3e4149;
                            bottom: -11px;
                            .horizontal-align-center;
                            -moz-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }

        @media(min-width: 767px) {
            display: table;

            li {
                width: 33.33333333%;
                text-align: center;
                display: table-cell;
            }
        }
    }
}