﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.component-technical-support {
    background: @ableGreyBlue;
    padding: 140px 0 170px 0;

    .intro-row {
        margin-bottom: 55px;
        header {
            border-bottom: 1px solid #494d54;
            padding-bottom: 60px;
            h2 {
                color: @ableRed;
                margin: 0 0 60px 0;
                font-family: 'Proxima N W01 Light';
                font-size: 60px;
            }

            .intro{
                font-size: 20px;
                color: @ableRed;
            }
            p {
                margin-bottom: 40px;
                color: @white;
                font-size: 18px;
                strong {
                    font-family: 'Proxima N W01 Bold';
                }
            }
        }
    }

    .tech-documentation {
        header {
            h3 {
                margin: 0 0 40px 0;
                color:@ableRed;
            }
            p {
                font-size: 20px;
                line-height: 26px;
                color: @white;
                margin-bottom: 40px;
            }
        }
    }

    .technical-documentation {
        margin-bottom: 60px;
        .range-wrapper{
            background-color: @ableGreyBlue;
        }
        
        ul.range-container {
            margin: 0 15px;
            color:@white;
            +.range-container{
                margin-top: 40px;
            }
            > li.range-header {
                h4{
                    margin: 0; 
                    color: @ableRed;
                }
            }

            > li.range-item {
                .title {
                    overflow: hidden;
                    font-size: 15px;
                    position: relative;

                    > span {
                        float: left;
                        width: 69%;
                    }

                    > ul.actions {
                        width: 30%;
                        line-height: 22px;
                        float: right;
                        font-size: 14px;         
                        top: 1px;
                        a {
                            text-decoration: none;
                            color: @white;
                            .transition(color, 0.15s, ease);
                            &:hover{
                                color: @ableRed;
                            }
                        }
                        > li {
                            text-align: right;
                            position: relative;
                            i.fa{
                                margin-right: 5px;
                                font-size: 14px;
                                
                            }
                            + li {
                                margin-top: 5px;
                            }
                          
                        }
                    }


                    @media (max-width: 350px),
                        (min-width: 992px) and (max-width: 1199px){
                        span {
                            float: none;
                            width: 100%;
                        }
                        > ul.actions {
                            float: none;
                            width: 100%;
                            overflow: hidden;
                            margin-top: 10px;
                            li {
                                float: left;
                                text-align: left;
                                
                                + li {
                                    margin-left: 15px;
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
                .hidden-content{
                    margin-top: 20px;
                    display: none;
                }
            }


            > li {
                border-bottom: 1px solid #494d54;
                padding: 10px 0;
            }
        }


        @media(max-width: 767px){
            .range-wrapper{
                +.range-wrapper{
                    margin-top: 40px;
                }
            }
        }

        @media(min-width: 768px) and (max-width: 991px){
            .range-wrapper{
                &:nth-child(n+3){
                    margin-top: 40px;
                }
            }
        }

        @media(min-width: 992px) {
            .range-wrapper{
                &:nth-child(n+4){
                    margin-top: 40px;
                }
            }
        }
    }


}