﻿@import (reference) "../_colours.less";
@import (reference) "../_fonts.less";
@import (reference) "../_elements.less";

.text-cta-component {
    padding: 90px 0;
    text-align: center;
    
    h2 {
        font-size: 60px;
        color: @ableRed;
        font-family: 'Proxima N W01 Light';
        margin-bottom: 30px;
    }

    &.light-theme{
        background-color: #eee;
        p {
            color: @black;
        }
    }

    p{
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 34px;
        color: @white;
    }

    a.call-us {
        color: @ableRed;
        font-size: 18px;
        position: relative;
        font-family: 'Proxima N W01 Bold';
        padding-left: 75px;
        line-height: 54px;
        .icon {
            box-shadow: 0 0 0 12px rgba(213,0,36,0.15);
            width: 52px;
            height: 52px;
            position: absolute;
            border-radius: 50%;
            background-color: @ableRed;
            color: @white;
            .vertical-align-center;
            left: 0;
            .fa {
                position: absolute;
                .horizontal-vertical-align-center;
                font-size: 25px;
            }
        }
    }

    ul.call-to-actions {
        font-size: 0;
        margin: 0;
        li {
           padding: 0;
        }
    }

    @media(max-width: 991px){
        ul.call-to-actions{
            li {
                width: 100%;
                + li {
                    margin-top: 30px;
                }
            }
        }
    }
    
    @media(min-width: 992px){
        ul.call-to-actions {
            li {
                
                + li {
                    margin-left: 30px;
                }
            }
        }
    }
}

.duel-col-text-cta-component {
    padding: 90px 0;
    font-size: 18px;
    background: @white;

    p {
        margin-bottom: 40px;
    }
    h2 {
        margin-top:0;
        font-size: 60px;
        color: @ableRed;
        font-family: 'Proxima N W01 Light';
        margin-bottom: 30px;
        text-align:center;
    }

    .text-col {
        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .button-row {
        margin-top: 30px;
    }
   
    //theming

    &.dark-theme{
        background: @ableGreyBlue;
        color: @white;
    }

    @media(max-width: 767px){
        .text-col + .text-col{
            margin-top: 40px;
        }
    }
    
}