﻿@using AbleSystems.Web.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    var addOnTabs = Model.Content.Children;
	
    if (addOnTabs.Any())
    {
        <div class="tab-component" id="@Model.Content.UrlName">
            <ul class="tab-nav light-theme" role="tablist">
                @foreach (var addOnTab in addOnTabs)
                {
                    <li role="presentation" class="@(addOnTab.IsFirst() ? "active" : null)"><a href="#@addOnTab.UrlName" class="tab-controller" aria-controls="@addOnTab.UrlName" role="tab" data-toggle="tab">@addOnTab.Name</a></li>
                }
            </ul>
            <div class="tab-content">

                @foreach (var addOnTab in addOnTabs)
                {
                    <div role="tabpanel" class="tab-pane @(addOnTab.IsFirst() ? "active" : null) addons-tab" id="@addOnTab.UrlName">
                        <div class="product-range">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        @if (addOnTab.HasValue("articleTitle"))
                                        {
                                            <header class="wrapper-header">
                                                <h2>@Html.Raw(addOnTab.GetPropertyValue("articleTitle"))</h2>
                                            </header>
                                        }
                                    </div>
                                </div>
                                <div class="row addons-carousel">
                                  
                                    @foreach (var carouselItem in addOnTab.Children)
                                    {
                                        var backgroundImage = string.Empty;
                                        var itemLink = "#";

                                        if (carouselItem.HasValue("itemImage"))
                                        {
                                            backgroundImage = string.Format("style='background-image:url(\"{0}\")'", SiteHelper.GetImageUrl(carouselItem, "itemImage"));
                                        }

                                        if (carouselItem.HasValue("itemLink"))
                                        {
                                            var itemLinkNode = Umbraco.TypedContent(carouselItem.GetPropertyValue<string>("itemLink"));
                                            if (itemLinkNode != null)
                                            {
                                                itemLink = itemLinkNode.Url;
                                            }
                                        }

                                        var podType = carouselItem.DocumentTypeAlias;

                                        if (podType == "addOnItem")
                                        {
                                            <div class="col-xs-12 col-sm-6 col-md-4 pod-wrap">
                                                
                                                <div class="pod video-pod">
                                                    <div class="img" @Html.Raw(backgroundImage)>
                                                        <a href="@itemLink"></a>
                                                    </div>
                                                    @Html.Raw(carouselItem.GetPropertyValue("itemBodyText"))
                                                </div>
                                            </div>
                                        }
                                        else if (podType == "addOnVideo")
                                        {
                                            if (carouselItem.HasProperty("youtubeCode") && carouselItem.HasValue("youtubeCode"))
                                            {
                                                <div class="col-xs-12 col-sm-6 col-md-4 pod-wrap">

                                                    <div class="pod video-pod">
                                                        <div class="img" @Html.Raw(backgroundImage)>
                                                            <a href="https://www.youtube.com/watch?v=@carouselItem.GetPropertyValue("youtubeCode")" class="video-link">
                                                                <i class="fa fa-play-circle"></i>
                                                            </a>
                                                        </div>
                                                        @Html.Raw(carouselItem.GetPropertyValue("itemBodyText"))
                                                    </div>
                                                </div>
                                            }
                                            else if (carouselItem.HasProperty("vimeoCode") && carouselItem.HasValue("vimeoCode"))
                                            {
                                                <div class="col-xs-12 col-sm-6 col-md-4 pod-wrap">

                                                <div class="pod video-pod">
                                                    <div class="img" @Html.Raw(backgroundImage)>
                                                        <a href="https://vimeo.com/@carouselItem.GetPropertyValue("vimeoCode")" class="video-link">
                                                            <i class="fa fa-play-circle"></i>
                                                        </a>
                                                    </div>
                                                    @Html.Raw(carouselItem.GetPropertyValue("itemBodyText"))
                                                </div>
                                            </div>
                                            }

                                        }

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
}


