﻿@using AbleSystems.Web.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    var promoSlides = Model.Content.Children;
    var backgroundImageStyle = string.Empty;
   
    if (Model.Content.HasProperty("backgroundImage") && Model.Content.HasValue("backgroundImage"))
    {
        backgroundImageStyle = string.Format("style='background: linear-gradient(to left, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.0) url({0})'", SiteHelper.GetImageUrl(Model.Content, "backgroundImage"));
    }
    else
    {
        backgroundImageStyle = string.Empty;
    }

    if (promoSlides.Any())
    {
        <div class="promo-component" @(!string.IsNullOrEmpty(backgroundImageStyle) ? @Html.Raw(backgroundImageStyle) : null) id="@Model.Content.UrlName">

            <div class="promo-carousel">

                @foreach (var promoSlide in promoSlides)
                {
                    var title = promoSlide.Name;
                    var slideHasWhiteText = false;
                    if (promoSlide.HasProperty("whiteText"))
                    {
                        slideHasWhiteText = promoSlide.GetPropertyValue<bool>("whiteText");   
                    }
                    if (promoSlide.HasProperty("slideTitle") && promoSlide.HasValue("slideTitle"))
                    {
                        title = promoSlide.GetPropertyValue<string>("slideTitle");
                    }

                    var slideLinkText = title;

                    if (promoSlide.HasProperty("slideLinkText") && promoSlide.HasValue("slideLinkText"))
                    {
                        slideLinkText = promoSlide.GetPropertyValue<string>("slideLinkText");
                    }

                    <div class="slide">
                        @if (promoSlide.HasProperty("slideHeadingTag") && promoSlide.HasValue("slideHeadingTag"))
                        {
                            <div class="subhead">
                                @Html.Raw(promoSlide.GetPropertyValue<string>("slideHeadingTag"))
                            </div>
                        }

                        <header>
                            <h2>@Html.Raw(title)</h2>
                            @if (promoSlide.HasProperty("slideSubTitle") && promoSlide.HasValue("slideSubTitle"))
                            {
                                <h3>@promoSlide.GetPropertyValue("slideSubTitle")</h3>
                            }
                        </header>
                        <div class="slide-content @(slideHasWhiteText ? "white-text" : null)">
                            @Html.Raw(promoSlide.GetPropertyValue("slideBodyText"))
                        </div>

                        @if (promoSlide.HasProperty("slideLink") && promoSlide.HasValue("slideLink"))
                        {
                            var slideLinkNode = Umbraco.TypedContent(promoSlide.GetPropertyValue<string>("slideLink"));
                            if (slideLinkNode != null)
                            {
                                <a href="@slideLinkNode.Url" class="custom-btn red-solid large pill outlined">@slideLinkText</a>
                            }
                        }

                    </div>

                }
            </div>

            @if (Model.Content.HasProperty("productImage") && Model.Content.HasProperty("productImage"))
            {
                var productImage = SiteHelper.GetImageUrl(Model.Content, "productImage");
                var productImageNode = Umbraco.TypedContent(Model.Content.GetPropertyValue("productImage"));
                if (productImageNode != null)
                {
                    <div class="image-overlay">
                        <div class="image">
                            <img src="@productImage" alt="@productImageNode.Name" />
                        </div>
                    </div>
                }
            }

        </div>
    }

    if (Model.Content.HasProperty("messages") && Model.Content.HasValue("messages"))
    {
        <div class="product-highlight-component">

            <div class="content-wrapper">

                @if (Model.Content.HasProperty("altHeading") && Model.Content.HasValue("altHeading"))
                {
                    <h2>@Html.Raw(Model.Content.GetPropertyValue<string>("altHeading"))</h2>
                }

                <div class="content">
                    @{
                        <ul class="left-list list-unstyled">
                            @{
                                var items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("messages");
                                var halfItems = (int)Math.Ceiling((double)items.Count() / 2);

                                foreach (var item in items.Take(halfItems))
                                {
                                    <li>
                                        <div class="icon">
                                            <i class="fa @Html.Raw(item.GetPropertyValue<string>("icon"))" aria-hidden="true"></i>
                                        </div>
                                        @Umbraco.Field(item, "text")

                                    </li>
                                }
                            }
                        </ul>
                        <ul class="right-list list-unstyled">
                            @foreach (var item in items.Skip(halfItems))
                            {
                                <li>
                                    <div class="icon">
                                        <i class="fa @Html.Raw(item.GetPropertyValue<string>("icon"))" aria-hidden="true"></i>
                                    </div>
                                    @Umbraco.Field(item, "text")

                                </li>
                            }
                        </ul>

                    }

                    @if (Model.Content.HasProperty("secondProductImage") && Model.Content.HasProperty("secondProductImage"))
                    {
                        var secondImageNode = Umbraco.TypedMedia(Model.Content.GetPropertyValue<string>("secondProductImage"));

                        if (secondImageNode != null)
                        {
                            <div class="product-image">
                                <img src="@secondImageNode.Url" alt="@secondImageNode.Name" />
                            </div>
                        }
                    }
                </div>


                @if (Model.Content.HasProperty("cTALink") && Model.Content.HasProperty("cTALink"))
                {
                    var linkNode = Umbraco.TypedContent(Model.Content.GetPropertyValue<string>("cTALink"));
                    var linkText = "Enquire Now";

                    if (Model.Content.HasProperty("cTAText") && Model.Content.HasProperty("cTAText"))
                    {
                        linkText = Model.Content.GetPropertyValue<string>("cTAText");
                    }

                    if (linkNode != null)
                    {
                        <a href="@linkNode.Url" class="custom-btn outlined large pill white-solid">@Html.Raw(linkText)</a>
                    }
                }
            </div>



            <!--<div class="image-overlay">
                <div class="image">
                    <img src="images/DEMO-IMAGES/test-printer.png" alt="PRINTER NAME"/>
                </div>
            </div>-->
            <!--<div class="image-overlay">
                <div class="image">

                </div>
            </div>-->
        </div>
    }
}

