﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<div class="apps-component" id="@Model.Content.UrlName">
    <div class="container">
        <div class="row intro-row border-row text-center">
            <div class="col-xs-12">

                <header class="section-heading">
                    @if (Model.Content.HasProperty("articleTitle") && Model.Content.HasValue("articleTitle"))
                    {
                        <h2>@Html.Raw(Model.Content.GetPropertyValue<string>("articleTitle"))</h2>
                    }
                    @Html.Raw(Model.Content.GetPropertyValue<string>("bodyText"))
                </header>
            </div>
            <div class="col-xs-12 col-md-6 text-center col">
                @Html.Raw(Model.Content.GetPropertyValue("leftColumn"))
            </div>
            <div class="col-xs-12 col-md-6 text-center col">
                @Html.Raw(Model.Content.GetPropertyValue("rightColumn"))
            </div>
        </div>
        <div class="row able-systems-app border-row">
            <div class="col-xs-12 text-center">
                <header class="section-heading">
                    @if (Model.Content.HasProperty("printingAppsHeading") && Model.Content.HasValue("printingAppsHeading"))
                    {
                        <h2>@Html.Raw(Model.Content.GetPropertyValue<string>("printingAppsHeading"))</h2>
                    }
                    @Html.Raw(Model.Content.GetPropertyValue<string>("printingAppsBody"))
                </header>
            </div>

            @if (Model.Content.HasProperty("androidLinkUrl") && Model.Content.HasValue("androidLinkUrl"))
            {
                var linkText = "Google Play Store";
                if (Model.Content.HasProperty("androidLinkText") && Model.Content.HasValue("androidLinkText"))
                {
                    linkText = Model.Content.GetPropertyValue<string>("androidLinkText");
                }
                var androidImage = "/images/able-android-app.png";

                if (Model.Content.HasProperty("androidImage") && Model.Content.HasValue("androidImage"))
                {
                    var androidImageNode = Umbraco.TypedMedia(Model.Content.GetPropertyValue<string>("androidImage"));
                    if (androidImageNode != null)
                    {
                        androidImage = androidImageNode.Url;
                    }
                }

                var androidLink = string.Format("<a href=\"{0}\" class=\"light\">{1}</a>", Model.Content.GetPropertyValue<string>("androidLinkUrl"), linkText);

                <div class="col-xs-12 col-md-6 col text-center">
                    <img src="/images/able-android-app.png" alt="Able Systems applications for Android" class="app-img" />
                    <header class="app-intro-header">
                        <h2>
                            <i class="fa fa-android" aria-hidden="true"></i>
                            @Html.Raw(Model.Content.GetPropertyValue<string>("androidHeading"))
                        </h2>
                    </header>
                    @Html.Raw(Model.Content.GetPropertyValue<string>("androidBodyText").Replace("[link]", androidLink))
                </div>
            }

            @if (Model.Content.HasProperty("appleLinkUrl") && Model.Content.HasValue("appleLinkUrl"))
            {
                var linkText = "Apple App Store";
                if (Model.Content.HasProperty("appleLinkText") && Model.Content.HasValue("appleLinkText"))
                {
                    linkText = Model.Content.GetPropertyValue<string>("appleLinkText");
                }
                var appleImage = "/images/able-apple-app.png";

                if (Model.Content.HasProperty("appleImage") && Model.Content.HasValue("appleImage"))
                {
                    var appleImageNode = Umbraco.TypedMedia(Model.Content.GetPropertyValue<string>("appleImage"));
                    if (appleImageNode != null)
                    {
                        appleImage = appleImageNode.Url;
                    }
                }

                var appleLink = string.Format("<a href=\"{0}\" class=\"light\">{1}</a>", Model.Content.GetPropertyValue<string>("appleLinkUrl"), linkText);

                <div class="col-xs-12 col-md-6 col text-center">
                    <img src="@appleImage" alt="Alternate Text" class="app-img" />
                    <header class="app-intro-header">
                        <h2 class="apple">
                            <i class="fa fa-apple" aria-hidden="true"></i>
                            @Html.Raw(Model.Content.GetPropertyValue<string>("appleHeading"))
                            <img class="made-for" src="/images/madefor.png" alt="Able Systems applications for Applie iOS" />
                        </h2>
                    </header>
                    @Html.Raw(Model.Content.GetPropertyValue<string>("appleBodyText").Replace("[link]", appleLink))
                </div>
            }
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">



                @if (Model.Content.Children.Any(x => x.IsVisible()))
                {
                    if ((Model.Content.HasProperty("printingAppsHeading") && Model.Content.HasValue("printingAppsHeading")) || (Model.Content.HasProperty("printingAppsBody") && Model.Content.HasValue("printingAppsBody")))
                    {
                        <header class="section-heading">
                            @if (Model.Content.HasProperty("printingAppsHeading") && Model.Content.HasValue("printingAppsHeading"))
                            {
                                <h3>@Model.Content.GetPropertyValue("printingAppsHeading")</h3>
                            }
                            @if (Model.Content.HasProperty("printingAppsBody") && Model.Content.HasValue("printingAppsBody"))
                            {
                                @Html.Raw(Model.Content.GetPropertyValue("printingAppsBody"))
                            }
                        </header>
                    }


                    <ul class="useful-apps-list list-unstyled">
                        @foreach (var otherApp in Model.Content.Children.Where(x => x.IsVisible()))
                        {
                            var name = otherApp.Name;
                            if (otherApp.HasProperty("heading") && otherApp.HasProperty("heading"))
                            {
                                name = otherApp.GetPropertyValue<string>("heading");
                            }
                            var link = "#";

                            if (otherApp.HasProperty("link") && otherApp.HasProperty("link"))
                            {
                                var linkNode = Umbraco.TypedContent(otherApp.GetPropertyValue<string>("link"));
                                if (linkNode != null)
                                {
                                    link = linkNode.Url;
                                }
                            }

                            <li>
                                <a href="@link">
                                    @if (otherApp.HasProperty("icon") && otherApp.HasValue("icon"))
                                    {
                                        var otherAppImage = Umbraco.TypedMedia(otherApp.GetPropertyValue<string>("icon"));
                                        if (otherAppImage != null)
                                        {
                                            <img src="@otherAppImage.Url" alt="@name" />
                                        }
                                    }
                                    @Html.Raw(name)
                                </a>
                            </li>
                        }

                    </ul>
                }
            </div>
        </div>

    </div>
</div>


