﻿@using System.Web.Optimization
@using AbleSystems.Web.Controllers
@inherits UmbracoTemplatePage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("common/meta")

    @Styles.Render("~/bundles/style")
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/js/libs/html5shiv.min.js"></script>
        <script src="/js/libs/respond.min.js"></script>
    <![endif]-->

    <!-- Header Scripts -->
    @Html.Raw(SiteHelper.GetSiteGlobalProperty("headerScripts"))
</head>
<body>
    <div id="website-wrapper">
        <div id="side-buttons">
            <a href="/contact-us" class="side-button contact-us">Contact Us</a>
            <a href="javascript:$zopim.livechat.window.show()" class="side-button live-chat">Live Chat</a>
        </div>
        @Html.Partial("common/navigation")
        <div id="main-content">
            @RenderBody()
        </div>
        @Html.Partial("common/footer")
    </div>

    @Scripts.Render("~/bundles/jquery", "~/bundles/core")
    @RenderSection("GoogleMapsScript", false)
    @Scripts.Render("~/bundles/pages")
    @Html.Raw(SiteHelper.GetSiteGlobalProperty("chatScript"))
    <script>
        jQuery(document).ready(function () {
            jQuery.cookieCuttr({
                cookieAnalytics: false,
                cookieMessage: "@Html.Raw(library.RemoveFirstParagraphTag(SiteHelper.GetSiteGlobalProperty("cookiePolicyMessage").Replace("\"", "'").Replace("\n", "").Replace("\r", "")))"
            });
        });
    </script>
</body>
</html>