﻿@inherits UmbracoTemplatePage
@{
	Layout = null;
}

<div class="block-title text-center @AbleSystems.Web.Controllers.SiteHelper.ThemeSelector(Model.Content)" id="@Model.Content.UrlName">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@Umbraco.Field("title")</h2>
            </div>
        </div>
    </div>
</div>