﻿@using AbleSystems.Web.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Base.cshtml";

    var tweet = "Take a look at this article on " + Model.Content.UrlAbsolute() + " - " + Model.Content.Name;

}
<div id="nav-spacer" class="dark-theme">

</div>

<div class="block-title text-center dark-theme">
    <div class="container">

        <div class="row">
            
            <div class="col-xs-12">

                <h2>@Umbraco.Field("articleTitle", altFieldAlias: "pageName")</h2>

                <div class="date">
                    <i class="fa fa-calendar"></i> @Html.Raw(SiteHelper.GetOrdinal(Model.Content.GetPropertyValue<DateTime>("articleDate").Day) + " " + Model.Content.GetPropertyValue<DateTime>("articleDate").ToString("MMMM yyyy"))
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-detail-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 match-height">
                <div class="blog-detail-content">
                    <div class="rtf-component">
                        <div class="rtf-content">

                            @Html.Raw(Model.Content.GetPropertyValue<string>("bodyText"))

                        </div>
                        <ul class="list-unstyled article-actions">
                            <li>
                                <a href="@Html.Raw(Model.Content.Parent.Url)" class="custom-btn outlined red large pill">
                                    View All Articles
                                </a>
                            </li>
                            <li>
                                <a href="#" class="custom-btn outlined red large pill share-article-btn">
                                    <i class="fa fa-share-alt"></i>
                                    Share Article
                                </a>
                                <ul class="share-article-to-list list-unstyled">
                                    <li>
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=@Model.Content.UrlAbsolute()">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/home?status=@tweet">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>



            <div class="hidden-xs hidden-sm col-md-3 match-height">
                <div class="sidebar-content">
                    @Html.Partial("BlogListArchiveYears", Model.Content.Parent)
                </div>
            </div>


        </div>
    </div>

    @Html.Partial("BlogListRelatedArticles")
</div>