﻿@using AbleSystems.Web.Controllers
@inherits UmbracoTemplatePage
@{
	Layout = "Base.cshtml";
    var umb = new UmbracoBuilder();
}


<div class="rtf-component text-center @AbleSystems.Web.Controllers.SiteHelper.ThemeSelector(Model.Content)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="rtf-content">
                    @Umbraco.Field("bodyText")
                </div>
                @{
                    var link = umb.GetTypedContent(Model.Content, "link");
                    var linkTitle = umb.GetStringValue(Model.Content, "linkTitle");

                    if (string.IsNullOrEmpty(linkTitle))
                    {
                        linkTitle = link.Name;
                    }

                    if (link != null)
                    {
                        <a href="@link.Url" class="custom-btn outlined red large pill">
                            <i class="fa fa-share-alt"></i>
                            @linkTitle
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>