@using System.Collections.Specialized
@using AbleSystems.Web.Controllers
@using umbraco.cms.helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    var page = 1;
    var resultsPerPage = 9;
    var newsItems = Model.Content.Children.OrderByDescending(x => x.GetPropertyValue<DateTime>("articleDate")).ToList();
        
    //  Paging
    
    if (!string.IsNullOrEmpty(Request.QueryString["page"]))
    {
        int.TryParse(Request.QueryString["page"], out page);
    }
    var baseUrl = HttpContext.Current.Request.Url.AbsoluteUri;
    
    // Archive Filters

    int filterMonth = 1;
    int filterYear = 1;
    
    if (!string.IsNullOrEmpty(Request.QueryString["year"]) && !string.IsNullOrEmpty(Request.QueryString["month"])
        && int.TryParse(Request.QueryString["year"], out filterYear) && int.TryParse(Request.QueryString["month"], out filterMonth))
    {
        newsItems = newsItems.Where(x => x.GetPropertyValue<DateTime>("articleDate").Year == filterYear && x.GetPropertyValue<DateTime>("articleDate").Month == filterMonth).ToList();
    }

    var totalPages = Math.Ceiling(((double)newsItems.Count() / resultsPerPage));
}
<div class="block-title text-center dark-theme">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@Umbraco.Field("articleTitle", altFieldAlias: "pageName")</h2>
            </div>
        </div>
    </div>
</div>

<div class="blog-listing-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 match-height">
                <div class="row blog-grid">
                    @foreach (var newsItem in newsItems.Skip((page - 1)*resultsPerPage).Take(resultsPerPage))
                    {
                        var linkTitle = newsItem.Name;
                        var articleImage = string.Empty;

                        if (newsItem.HasProperty("linkTitle") && newsItem.HasValue("linkTitle"))
                        {
                            linkTitle = newsItem.GetPropertyValue<string>("linkTitle");
                        }

                        if (newsItem.HasProperty("articleImage") && newsItem.HasValue("articleImage"))
                        {
                            var imageNode = Umbraco.TypedMedia(newsItem.GetPropertyValue("articleImage"));

                            if (imageNode != null)
                            {
                                articleImage = imageNode.Url;
                            }
                        }

                        <div class="col-xs-12 col-sm-6 col-lg-4 blog-pod-wrapper">
                            <div class="pod blog-pod">
                                <div class="img" style="background-image: url(@articleImage)">
                                    <a href="@newsItem.Url"></a>
                                </div>
                                <header>
                                    <h3>@linkTitle</h3>
                                </header>
                                <div class="date">
                                    <i class="fa fa-calendar"></i> @Html.Raw(SiteHelper.GetOrdinal(newsItem.GetPropertyValue<DateTime>("articleDate").Day) + " " + newsItem.GetPropertyValue<DateTime>("articleDate").ToString("MMMM yyyy"))
                                </div>
                                <a href="@newsItem.Url" class="custom-btn outlined red small pill">Read article</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-3 match-height">
                <div class="sidebar-content">
                    @Html.Partial("BlogListArchiveYears")
                </div>
            </div>
        </div>
        <ul class="list-unstyled list-inline blog-listing-pager text-center">
            @{
         var separator = "?";

         if (Request.QueryString.AllKeys.Contains("page"))
         {
             string[] separateUrl = baseUrl.Split('?');
             baseUrl = Model.Content.Url;
         }

         if (!string.IsNullOrWhiteSpace(Request.QueryString["year"]) && !string.IsNullOrWhiteSpace(Request.QueryString["month"]))
         {
             // recalculate paging based on archive selection
             if (!string.IsNullOrEmpty(Request.QueryString["year"]) && !string.IsNullOrEmpty(Request.QueryString["month"])
                 && int.TryParse(Request.QueryString["year"], out filterYear) && int.TryParse(Request.QueryString["month"], out filterMonth))
             {
                 var selection = Model.Content.Children.Where(x => x.HasProperty("articleDate") && x.HasValue("articleDate") && x.GetPropertyValue<DateTime>("articleDate").Year == filterYear && x.GetPropertyValue<DateTime>("articleDate").Month == filterMonth);
                 totalPages = Math.Ceiling(((double) selection.Count()/resultsPerPage));
                 separator = "&";
             }

             if (separator == "&" && !baseUrl.Contains("?"))
             {
                 separator = "?year="+ filterYear + "&month="  + filterMonth + "&";
             }
         }

         if (page > 1)
         {
            <li>
                <a href="@(baseUrl + separator + "page=" + (page - 1))" class="custom-btn outlined red-solid large pill">Previous</a>
            </li>
         }

         if (totalPages > 1)
         {
            <li>
                Page @page of @totalPages
            </li>
         }

         if (page < totalPages)
         {
            <li>
                <a href="@(baseUrl + separator + "page=" + (page+1))" class="custom-btn outlined red-solid large pill">next</a>
            </li>
         }
            }
        </ul>
    </div>
</div>
