﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var availableJobs = Model.Content.Children;

    if (availableJobs.Any())
    {
        <div class="careers-block" id="@Model.Content.UrlName">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <header>
                            <h2>@Model.Content.GetPropertyValue("articleTitle")</h2>
                            @Html.Raw(Model.Content.GetPropertyValue("bodyText"))
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-bordered careers-table">
                                <thead>
                                    <tr>
                                        <th>Job Title</th>
                                        <th>Description</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var jobRole in availableJobs)
                                    {
                                        <tr>
                                            <td>
                                                @Html.Raw(jobRole.GetPropertyValue("jobTitle"))
                                            </td>
                                            <td>
                                                <div class="description">@Html.Raw(jobRole.GetPropertyValue("jobDescription"))</div>
                                                @if (jobRole.HasProperty("jobDetailsLink") && jobRole.HasValue("jobDetailsLink"))
                                                {
                                                    var jobLink = "#";

                                                    var linkNode = Umbraco.TypedContent(jobRole.GetPropertyValue("jobDetailsLink"));

                                                    if (linkNode != null)
                                                    {
                                                        jobLink = linkNode.Url;
                                                    }

                                                    <a href="@jobLink" class="read-more"><i class="fa fa-chevron-right"></i> Read More</a>
                                                }
                                            </td>
                                            <td>
                                                @Html.Raw(jobRole.GetPropertyValue("jobLocation"))
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

}

