﻿@using AbleSystems.Web.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var carouselItems = Model.Content.Children;

    if (carouselItems.Any())
    {
        <div class="circular-carousel-wrapper @SiteHelper.ThemeSelector(Model.Content)" id="@Model.Content.UrlName">
            <div class="container">
                @if (Model.Content.HasProperty("articleTitle") && Model.Content.HasValue("articleTitle"))
                {
                    <header class="carousel-heading">
                        <h2 class="text-center">@Html.Raw(Model.Content.GetPropertyValue("articleTitle"))</h2>
                    </header>
                }

                <div class="row circular-carousel">

                    @foreach (var carouselItem in carouselItems)
                    {
                        var title = string.Empty;

                        if (carouselItem.HasProperty("slideTitle") && carouselItem.HasValue("slideTitle"))
                        {
                            title = carouselItem.GetPropertyValue<string>("slideTitle");
                        }

                        <div class="col-xs-12 col-sm-6 col-md-4 carousel-slide text-center">
                            <div class="circular-slide">
                                <div class="circular-img">
                                    <div class="img-wrap">
                                        <img src="@SiteHelper.GetImageUrl(carouselItem, "slideImage")" />
                                    </div>
                                </div>
                                <div class="slide-content">
                                    @if (!string.IsNullOrEmpty(title))
                                    {
                                        <h1>@Html.Raw(carouselItem.GetPropertyValue("slideTitle"))</h1>
                                    }
                                    <p>@Html.Raw(carouselItem.GetPropertyValue<string>("slideBody"))</p>
                                </div>
                                @if (carouselItem.HasProperty("slideLink") && carouselItem.HasValue("slideLink"))
                                {
                                    var linkNode = Umbraco.TypedContent(carouselItem.GetPropertyValue<string>("slideLink"));

                                    if (linkNode != null)
                                    {
                                        <a href="@linkNode.Url" class="custom-btn outlined red large pill">Learn More</a>
                                    }
                                }

                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    }
}
