﻿@using AbleSystems.Web.Models
@using umbraco.NodeFactory

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent pageModel = umbracoHelper.TypedContent(Node.getCurrentNodeId());

    var item = Request.QueryString["item"];
    var contactModel = new ContactFormModel(item!=null ? item : "");
   

    if (Model.Content.HasProperty("thankYouPage") && Model.Content.HasValue("thankYouPage"))
    {
        contactModel.ThankYouPageId = Model.Content.GetPropertyValue<int>("thankYouPage");
    }

    var hasMapApiKey = Model.Content.HasProperty("key") && Model.Content.HasValue("key");

}
<div id="nav-spacer" class="@AbleSystems.Web.Controllers.SiteHelper.ThemeSelector(Model.Content)"></div>


@if (pageModel.HasProperty("headingTitle") && pageModel.HasValue("headingTitle"))
{

    <div class="block-title text-center dark-theme" id="@Model.Content.UrlName">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>@pageModel.GetPropertyValue("headingTitle")</h2>
                </div>
            </div>
        </div>
    </div>
}


<div class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <p>Please call us on +44 (0)160 648 621 or alternatively, fill in the form below</p>
                </header>
            </div>
        </div>
        <div class="row">
            @Html.Partial("ContactForm", contactModel)
        </div>
    </div>
</div>



<div class="block-title text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>How to find us</h2>
            </div>
        </div>
    </div>
</div>


@if (hasMapApiKey)
{
    <div id="map-wrapper">
        <div class="contact-box">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Able Systems Ltd</h3>

                    <div class="contact-section">
                        <h4>Address:</h4>
                        <p>@Umbraco.Field("address")</p>
                    </div>

                    <div class="contact-section">
                        <h4>Hours (UK Time):</h4>
                        @Umbraco.Field("hours")
                    </div>

                    <div class="contact-section">
                        <h4>Telephone:</h4>
                        <p>
                            <a href="tel:@Umbraco.Field("telephone")">@Umbraco.Field("telephone")</a>
                        </p>
                    </div>

                    <div class="contact-section">
                        <h4>Fax:</h4>
                        <p>
                            <a href="tel:@Umbraco.Field("fax")">@Umbraco.Field("fax")</a>
                        </p>
                    </div>

                    <div class="contact-section">
                        <h4>Email:</h4>
                        <p>
                            <a href="mailto:@Umbraco.Field("email")">@Umbraco.Field("email")</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="locationMap"></div>
    </div>
    @section GoogleMapsScript {

 <script src="https://maps.googleapis.com/maps/api/js?key=@Model.Content.GetPropertyValue("key")"></script>  

        <script>

            var map = new google.maps.Map(document.getElementById('locationMap'), {
                zoom: 7,
                center: new google.maps.LatLng(originalLocation[0], originalLocation[1]),
                scrollwheel: false
            });

        </script>
 

    }
}