﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    <div class="drivers-component" id="@Model.Content.UrlName">
        <div class="container">

            <div class="row header-row">
                <div class="col-xs-12 text-center">
                    <header>
                        <h2>@Html.Raw(Model.Content.GetPropertyValue<string>("pageHeading"))</h2>
                    </header>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-4 driver-section-wrapper">

                    <div class="driver-section">
                        @Html.Raw(Model.Content.GetPropertyValue<string>("leftColumn"))
                    </div>

                </div>
                <div class="col-xs-12 col-md-4 driver-section-wrapper">
                    <div class="driver-section">
                        @Html.Raw(Model.Content.GetPropertyValue<string>("middleColumn"))
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 driver-section-wrapper">
                    <div class="driver-section">
                        @Html.Raw(Model.Content.GetPropertyValue<string>("rightColumn"))
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Content.HasProperty("mediaLink") && Model.Content.HasValue("mediaLink"))
        {
            var medaLinkItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue<string>("mediaLink"));
            var name = "Download";
            
            if (Model.Content.HasProperty("mediaLinkText") && Model.Content.HasValue("mediaLinkText"))
            {
                name = Model.Content.GetPropertyValue<string>("mediaLinkText");
            }
            
            if (medaLinkItem != null)
            {
                <div class="text-center">
                    <a href="@medaLinkItem.Url" class="custom-btn outlined large pill red">@Html.Raw(name)</a>
                </div>
            }
        }
    </div>

}
