﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;

    var title = Model.Content.Name;

    if (Model.Content.HasProperty("title") && Model.Content.HasValue("title"))
    {
        title = Model.Content.GetPropertyValue<string>("title");
    }
}
<div class="duel-col-text-cta-component @AbleSystems.Web.Controllers.SiteHelper.ThemeSelector(Model.Content)" id="@Model.Content.UrlName">
    <div class="container">
        <div class="row">
            <h2>@Html.Raw(title)</h2>
            <div class="col-xs-12 col-md-6 text-col">
                @Html.Raw(Model.Content.GetPropertyValue("leftColumn"))
            </div>
            <div class="col-xs-12 col-md-6 text-col">
                @Html.Raw(Model.Content.GetPropertyValue("rightColumn"))
            </div>
        </div>
        @if (Model.Content.HasProperty("link") && Model.Content.HasValue("link"))
        {
            var linkNode = Umbraco.TypedContent(Model.Content.GetPropertyValue<string>("link"));

            if (linkNode != null)
            {
                var linkText = linkNode.Name;

                if (Model.Content.HasProperty("linkText") && Model.Content.HasValue("linkText"))
                {
                    linkText = Model.Content.GetPropertyValue<string>("linkText");
                }
                
                string queryParameter = "";
                if (Model.Content.HasValue("pageLinkQuery"))
                {
                    var productNameObject = Model.Content.GetPropertyValue("pageLinkQuery");
                    if (productNameObject != null)
                    {
                        var decodedProductName = productNameObject.ToString();
                        queryParameter = HttpUtility.UrlEncode(decodedProductName);
                    }
                }

                    <div class="row button-row">
                        <div class="col-xs-12 col-md-6 col-md-offset-6">
                            @if (queryParameter != "")
                            {
                                <a href="@linkNode.Url?item=@queryParameter" class="custom-btn outlined red large pill">@linkText</a>
                            }
                            else
                            {
                                <a href="@linkNode.Url?" class="custom-btn outlined red large pill">@linkText</a>
                            }
                        </div>
                    </div>
                
            }
        }
		else if (Model.Content.HasProperty("mediaLink") && Model.Content.HasValue("mediaLink")) {
			
			 var documentNode = Umbraco.TypedMedia(Model.Content.GetPropertyValue<string>("mediaLink"));

            if (documentNode != null)
            {
                var linkText = documentNode.Name;

                if (Model.Content.HasProperty("linkText") && Model.Content.HasValue("linkText"))
                {
                    linkText = Model.Content.GetPropertyValue<string>("linkText");
                }

                <div class="row button-row">
                    <div class="col-xs-12 col-md-6 col-md-offset-6">
                        <a href="@documentNode.Url" class="custom-btn outlined red large pill" download>@linkText</a>
                    </div>
                </div>
            }
		}
    </div>
</div>


