﻿@using AbleSystems.Web.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var slides = Model.Content.Children;

    if (slides.Any())
    {   
        <div class="hero-banner" id="@Model.Content.UrlName">
           
            @foreach (var slide in slides)
            {
                var image = SiteHelper.GetImageUrl(slide, "backgroundImage");
                var title = slide.Name;
                var contentTitle = "Read more";
                var contentLink = "#";

                if (slide.HasProperty("articleTitle") && slide.HasValue("articleTitle"))
                {
                    title = slide.GetPropertyValue<string>("articleTitle");
                }
                if (slide.HasProperty("contentTitle") && slide.HasValue("contentTitle"))
                {
                    contentTitle = slide.GetPropertyValue<string>("contentTitle");
                }
                if (slide.HasProperty("contentLink") && slide.HasValue("contentLink"))
                {
                    var contentLinkNode = Umbraco.TypedContent(slide.GetPropertyValue<string>("contentLink"));
                    if (contentLinkNode != null)
                    {
                        contentLink = contentLinkNode.Url;
                    }
                }
                
                <div id="hero-refresh" class="slide" style="background-image: url(@Html.Raw(image))">
                    <div class="slide-content">
                        <h2>@Html.Raw(title)</h2>

                        @if (slide.HasProperty("bodyText") && slide.HasValue("bodyText"))
                        {
                            @Html.Raw(slide.GetPropertyValue("bodyText"))
                        }

                        <ul class="list-unstyled link-list list-inline @(slide.GetPropertyValue<bool>("pillStyle") ? "pill" : "circle")">

                            @if (slide.HasProperty("youtubeCode") && slide.HasValue("youtubeCode"))
                            {
                                <li>
                                    <a class="video-link" href="https://www.youtube.com/watch?v=@slide.GetPropertyValue("youtubeCode")">
                                        <div class="link-content">
                                            <i class="fa fa-play"></i> Watch Video
                                        </div>
                                    </a>
                                </li>
                            }
                            else if (slide.HasProperty("vimeoCode") && slide.HasValue("vimeoCode"))
                            {
                                <li>
                                    <a class="video-link" href="https://vimeo.com/@slide.GetPropertyValue("vimeoCode")">
                                        <div class="link-content">
                                            <i class="fa fa-play"></i> Watch Video
                                        </div>
                                    </a>
                                </li>
                            }
                            @if (contentLink != "#" || contentTitle != "Read more")
                            {
                                <li>
                                    <a href="@contentLink">
                                        <div class="link-content">
                                            @Html.Raw(contentTitle)
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div id="canvas"></div>
                </div>
               
            }
           
        </div>
        
    }



}