﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models
@{
    Layout = null;

    if (Model.Content.HasProperty("navigationItems") && Model.Content.HasValue("navigationItems"))
    {
        var multiUrlPickerIds = Model.Content.GetPropertyValue<string>("navigationItems");

        if (!string.IsNullOrEmpty(multiUrlPickerIds))
        {
            <ul class="internal-navigation list-unstyled item-number-@multiUrlPickerIds.Count()">

                @foreach (var pickedId in multiUrlPickerIds.Split(','))
                {
                    var pickedNode = Umbraco.TypedContent(pickedId);

                    if (pickedNode != null)
                    {
                        var name = pickedNode.Name;
                        if (pickedNode.HasProperty("articleTitle") && pickedNode.HasValue("articleTitle"))
                        {
                            name = pickedNode.GetPropertyValue<string>("articleTitle");
                        }
                        
                        <li>
                            <a href="@pickedNode.Url">@name<i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                        </li>
                    }
                }

            </ul>
        }
    }
}