﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    if (Model.Content.HasProperty("tabNavigationItems") && Model.Content.HasValue("tabNavigationItems"))
    {

        var tabNavigationItems = Model.Content.GetPropertyValue<string>("tabNavigationItems").Split(',');

        var itemNumber = tabNavigationItems.Count();

        <ul id="tab-fixed" class="internal-navigation list-unstyled item-number-@itemNumber">

            @foreach (var item in tabNavigationItems)
            {
                var itemNode = Umbraco.TypedContent(item);
                if (itemNode != null)
                {
                    <li>
                        <a href="#@itemNode.UrlName">@(itemNode.HasValue("tabName") ? itemNode.GetPropertyValue<string>("tabName") : itemNode.Name)<i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                    </li>
                }
            }

        </ul>
    }

}
