﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    if (Model.Content.Children.Any())
    {
        <div class="masonry-text-component" id="@Model.Content.UrlName">

            <div class="container">
                @if (Model.Content.HasProperty("heading") && Model.Content.HasValue("heading"))
                {
                    <header class="section-heading text-center">
                        <h2>@Html.Raw(Model.Content.GetPropertyValue("heading"))</h2>
                    </header>
                }

                <div class="row masonry-text-grid">
                    @foreach (var textItem in Model.Content.Children)
                    {
                        switch (textItem.DocumentTypeAlias)
                        {
                            case "masonryButtonItem":
                                @RenderMasonryButton(textItem)
                                break;
                            case "masonryTextItem":
                            @RenderMasonryText(textItem)
                                break;

                        }
                    }
                </div>
            </div>
        </div>
    }
}

@helper RenderMasonryButton(IPublishedContent item)
{
    var buttonTitle = item.Name;
    var itemLink = "#";

    if (item.HasProperty("buttonTitle") && item.HasValue("buttonTitle"))
    {
        buttonTitle = item.GetPropertyValue<string>("buttonTitle");
    }
    
    if (item.HasProperty("buttonTitle") && item.HasValue("buttonTitle"))
    {
        buttonTitle = item.GetPropertyValue<string>("buttonTitle");
    }
    
    
    <div class="col-xs-12 col-sm-6 col-md-4 text-section-wrapper">
        <a href="@itemLink" class="custom-btn outlined red large pill text-center">@Html.Raw(buttonTitle)</a>
    </div>
}

@helper RenderMasonryText(IPublishedContent item)
{
    <div class="col-xs-12 col-sm-6 col-md-4 text-section-wrapper">
        <div class="text-section">
            @if (item.HasProperty("heading") && item.HasValue("heading"))
            {
                <header>
                    <h3>@Html.Raw(item.GetPropertyValue("heading")) <i class="fa fa-arrow-down" aria-hidden="true"></i></h3>
                </header>
            }
            <div style="display:none">
                @Html.Raw(item.GetPropertyValue("bodyText"))
            </div>
        </div>
    </div>

}