﻿@using AbleSystems.Web.Controllers
@using RJP.MultiUrlPicker.Models
@inherits UmbracoTemplatePage
@{
    Layout = null;
    var umb = new UmbracoBuilder();
}

@{
    var bg = "";

    if (Model.Content.HasValue("backgroundImage"))
    {
        var img = umb.GetImageMediaId(Model.Content, "backgroundImage");
        bg = "style=\"background-image: url(" + img + ")\"";
    }
}

<div class="need-help text-center" @Html.Raw(bg) id="@Model.Content.UrlName">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="huge">@Umbraco.Field("title")</h2>
                <ul class="help-methods list-unstyled list-inline">
                    @{
                        var multiUrlPicker = Model.Content.GetPropertyValue<MultiUrls>("linkOneUrl");
                        if (multiUrlPicker.Any())
                        {
                            foreach (var item in multiUrlPicker)
                            {
                                <li>
                                    <a href="@item.Url" target="@item.Target">
                                        <div class="icon">
                                            <div class="fa fa-life-ring"></div>
                                        </div>
                                        @item.Name
                                    </a>
                                </li>
                            }
                        }

                        multiUrlPicker = Model.Content.GetPropertyValue<MultiUrls>("linkTwoUrl");
                        if (multiUrlPicker.Any())
                        {
                            foreach (var item in multiUrlPicker)
                            {
                                <li>
                                    <a href="tel:@item.Url" target="@item.Target">
                                        <div class="icon">
                                            <div class="fa fa-phone"></div>
                                        </div>
                                        @item.Name
                                    </a>
                                </li>
                            }
                        }

                        multiUrlPicker = Model.Content.GetPropertyValue<MultiUrls>("linkThreeUrl");
                        if (multiUrlPicker.Any())
                        {
                            foreach (var item in multiUrlPicker)
                            {
                                <li>
                                    <a href="@item.Url" target="@item.Target">
                                        <div class="icon">
                                            <div class="fa fa-envelope"></div>
                                        </div>
                                        @item.Name
                                    </a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

