﻿@using AbleSystems.Web.Models
@inherits UmbracoTemplatePage
@{
	Layout = "Base.cshtml";

    var searchModel = new SearchModel();
        
}
  <div id="nav-spacer" class="dark-theme"></div>

            <div class="component-404" id="@Model.Content.UrlName">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>@Umbraco.Field("articleTitle")</h1>
                        @Umbraco.Field("bodyText")
                        @Html.Partial("common/search", searchModel)
                    </div>
                </div>
            </div>

</div>

c