﻿@using AbleSystems.Web.Controllers
@inherits UmbracoTemplatePage

@{
    Layout = null;
    var item = Umbraco.TypedContent(Model.Content.Children.FirstOrDefault().Id); // first question
    var umb = new UmbracoBuilder();
}


<div class="printer-app-component" id="@Model.Content.UrlName">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <h2>@Umbraco.Field("title")</h2>
                </header>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row data">
            <div class="col-xs-12 ">
                <div class="question-data">
                    <div class="qu-wrapper">
                        <div class="qu-num">
                            Question <span class="no">1</span> of 4
                        </div>
                        <div class="qu">@item.Name</div>
						
                    </div>
                    <ul class="answers-list">
                        @{
                            foreach (var subitem in item.Children)
                            {
                                var icon = umb.GetImageMediaId(subitem, "icon");

                                <li>
                                    <div class="answer" rel="@subitem.Id" data-postid="@subitem.Id" data-original-title="@subitem.Name">
                                        <img src="@icon" alt="@subitem.Name" />										
                                    </div>
										
										
                                    @subitem.Name
                                </li>
                            }
                        }
                    </ul>
                </div>
				
				<a href="" class="custom-btn outlined red pill large next-question" rel="@item.Id">Next</a>
            </div>
            <ul class="list-unstyled question-progress-indicator list-inline"><li class="completed"></li><li class=""></li><li class=""></li><li class=""></li></ul>
        </div>
    </div>
</div>
