﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<div class="product-highlight-component" id="@Model.Content.UrlName">

    <div class="content-wrapper">
        @{
            if (Model.Content.HasValue("productHighlightHeadline"))
            {
                <h2>@Umbraco.Field("productHighlightHeadline")</h2>
            }
        }

        <div class="content">
            @if (Model.Content.HasProperty("productImage") && Model.Content.HasValue("productImage"))
            {
                var secondImageNode = Umbraco.TypedMedia(Model.Content.GetPropertyValue<string>("productImage"));

                if (secondImageNode != null)
                {
                    <div class="product-image">
                        <img src="@secondImageNode.Url" alt="@secondImageNode.Name" />
                    </div>
                }
            }
            @if (Model.Content.HasProperty("messages") && Model.Content.HasValue("messages"))
            {
                <div class="list-wrapper">
                    <ul class="left-list list-unstyled">
                        @{
                var items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("messages");
                var halfItems = (int)Math.Ceiling((double)items.Count() / 2);

                foreach (var item in items.Take(halfItems))
                {
                    <li>
                        <div class="icon">
                            <i class="fa @Html.Raw(item.GetPropertyValue<string>("icon"))" aria-hidden="true"></i>
                        </div>
                        @Umbraco.Field(item, "text")
                    </li>
                }
                        }
                    </ul>
                    <ul class="right-list list-unstyled">
                        @foreach (var item in items.Skip(halfItems))
                        {
                            <li>
                                <div class="icon">
                                    <i class="fa @Html.Raw(item.GetPropertyValue<string>("icon"))" aria-hidden="true"></i>
                                </div>
                                @Umbraco.Field(item, "text")

                            </li>
                        }
                    </ul>
                </div>
            }



        </div>
        @if (Model.Content.HasProperty("buttonLink") && Model.Content.HasValue("buttonLink"))
        {
            var buttonLinkNode = Umbraco.TypedContent(Model.Content.GetPropertyValue<string>("buttonLink"));
            if (buttonLinkNode != null)
            {
                var buttonText = "Enquire Now";

                if (Model.Content.HasProperty("buttonText") && Model.Content.HasValue("buttonText"))
                {
                    buttonText = Model.Content.GetPropertyValue<string>("buttonText");
                }
                <a href="@buttonLinkNode.Url" class="custom-btn outlined large pill white-solid">@buttonText</a>
            }
        }

    </div>
</div>



