﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<div class="industry-component" id="@Model.Content.UrlName">

    <div class="content-wrapper">

        <div class="container header-container">
            <div class="row">
                <div class="col-xs-12">
                    <header class="text-center">
                        @{
                            if (Model.Content.HasValue("articleTitle"))
                            {
                                <h2>@Umbraco.Field("articleTitle")</h2>
                            }
                        }
                        @Html.Raw(Model.Content.GetPropertyValue<string>("bodyText"))
                        @if (Model.Content.HasProperty("industryHeadline") && Model.Content.HasValue("industryHeadline"))
                        {
                            <h3>@Html.Raw(Model.Content.GetPropertyValue<string>("industryHeadline"))</h3>
                        }
                        @if (Model.Content.HasProperty("industrySubCaption") && Model.Content.HasValue("industrySubCaption"))
                        {
                            <p>@Html.Raw(Model.Content.GetPropertyValue<string>("industrySubCaption"))</p>
                        }
                    </header>
                </div>
            </div>
        </div>


        @if (Model.Content.HasProperty("messages") && Model.Content.HasValue("messages"))
        {
            <div class="content">
                @if (Model.Content.HasProperty("secondProductImage") && Model.Content.HasProperty("secondProductImage"))
                {
                    var secondImageNode = Umbraco.TypedMedia(Model.Content.GetPropertyValue<string>("secondProductImage"));

                    if (secondImageNode != null)
                    {
                        <div class="product-image">
                            <img src="@secondImageNode.Url" alt="@secondImageNode.Name" />
                        </div>
                    }
                }
                @{
                    <div class="list-wrapper">

                        <ul class="left-list list-unstyled">
                            @{
                var items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("messages");
                var halfItems = (int)Math.Ceiling((double)items.Count() / 2);

                foreach (var item in items.Take(halfItems))
                {
                    <li>
                        <div class="icon">
                            <i class="fa @Html.Raw(item.GetPropertyValue<string>("icon"))" aria-hidden="true"></i>
                        </div>
                        @Umbraco.Field(item, "text")
                    </li>
                }
                            }
                        </ul>
                        <ul class="right-list list-unstyled">
                            @foreach (var item in items.Skip(halfItems))
                            {
                                <li>
                                    <div class="icon">
                                        <i class="fa @Html.Raw(item.GetPropertyValue<string>("icon"))" aria-hidden="true"></i>
                                    </div>
                                    @Umbraco.Field(item, "text")

                                </li>
                            }
                        </ul>
                    </div>
                }


            </div>
        }

    </div>
</div>



