﻿@using AbleSystems.Web.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    var promoSlides = Model.Content.Children;
    var backgroundImageStyle = string.Empty;

    if (Model.Content.HasProperty("backgroundImage") && Model.Content.HasValue("backgroundImage"))
    {
        backgroundImageStyle = string.Format("style='background-image: url({0})'", SiteHelper.GetImageUrl(Model.Content, "backgroundImage"));
    }
    else
    {
        backgroundImageStyle = string.Empty;
    }



    var productImage = SiteHelper.GetImageUrl(Model.Content, "productImage");

    if (promoSlides.Any())
    {
        <div class="promo-component" @(!string.IsNullOrEmpty(backgroundImageStyle) ? @Html.Raw(backgroundImageStyle) : null) id="@Model.Content.UrlName">

            @if (!string.IsNullOrEmpty(productImage))
            {
                <div class="image-overlay">
                    <div class="image">
                        <img src="@productImage" alt="" />
                    </div>
                </div>
            }

            <div class="promo-carousel">

                @foreach (var promoSlide in promoSlides)
                {
                    var title = promoSlide.Name;

                    if (promoSlide.HasProperty("slideTitle") && promoSlide.HasValue("slideTitle"))
                    {
                        title = promoSlide.GetPropertyValue<string>("slideTitle");
                    }

                    var slideLinkText = title;

                    if (promoSlide.HasProperty("slideLinkText") && promoSlide.HasValue("slideLinkText"))
                    {
                        slideLinkText = promoSlide.GetPropertyValue<string>("slideLinkText");
                    }

                    <div class="slide">
                        @if (promoSlide.HasProperty("slideHeadingTag") && promoSlide.HasValue("slideHeadingTag"))
                        {
                            <div class="subhead">
                                @Html.Raw(promoSlide.GetPropertyValue<string>("slideHeadingTag"))
                            </div>
                        }

                        <header>
                            <h2>@Html.Raw(title)</h2>
                            @if (promoSlide.HasProperty("slideSubTitle") && promoSlide.HasValue("slideSubTitle"))
                            {
                                <h3>@promoSlide.GetPropertyValue("slideSubTitle")</h3>
                            }
                        </header>
                        <div class="slide-content">
                            @Html.Raw(promoSlide.GetPropertyValue("slideBodyText"))
                        </div>

                        @if (promoSlide.HasProperty("slideLink") && promoSlide.HasValue("slideLink"))
                        {
                            var slideLinkNode = Umbraco.TypedContent(promoSlide.GetPropertyValue<string>("slideLink"));
                            if (slideLinkNode != null)
                            {
                                <a href="@slideLinkNode.Url" class="custom-btn red-solid large pill outlined">@slideLinkText</a>
                            }
                        }

                    </div>

                }
            </div>


        </div>

    }
}
