﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var slides = Model.Content.Children;

    if (slides.Any())
    {
        <div class="quote-carousel-component @AbleSystems.Web.Controllers.SiteHelper.ThemeSelector(Model.Content)" id="@Model.Content.UrlName">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="quote-carousel-wrapper">
                            <div class="quote-carousel">

                                @foreach (var slide in slides)
                                {
                                    var quoteHasLink = slide.HasProperty("quoteLink") && slide.HasValue("quoteLink");
                                    var quoteLink = "#";

                                    if (quoteHasLink)
                                    {
                                        var quoteLinkNode = Umbraco.TypedContent(slide.GetPropertyValue<string>("quoteLink"));

                                        if (quoteLinkNode != null)
                                        {
                                            quoteLink = quoteLinkNode.Url;
                                        }
                                    }

                                    <div class="quote-slide">
                                        @(quoteHasLink ? Html.Raw("<a href=\"" + quoteLink + "\">") : null)
                                        <div class="quote">
                                            @Html.Raw(slide.GetPropertyValue<string>("comments"))
                                        </div>
                                        <div class="name">
                                            @Html.Raw(slide.GetPropertyValue<string>("author"))
                                        </div>
                                        @(quoteHasLink ? Html.Raw("</a>") : null)
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}