﻿@using AbleSystems.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
    var searchModel = new SearchModel();
    
    if (TempData.ContainsKey("searchResults"))
    {
        searchModel = (SearchModel)TempData["searchResults"];
    }
}
<div class="search-results-wrapper">
    <header>
        <h1>Your search for <span class="search-criteria">@searchModel.Text</span> has returned @searchModel.TotalResults results
        </h1>
    </header>
    @Html.Partial("SearchResults", searchModel)
</div>


              



			  