﻿@inherits UmbracoTemplatePage
@{
	Layout = null;
}

<div class="social-component @AbleSystems.Web.Controllers.SiteHelper.ThemeSelector(Model.Content)" id="@Model.Content.UrlName">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-6 social-col">
                <div class="social-item blog-theme match-height">
                    <header>
                        <div class="header-text">Blog</div>
                    </header>
                    @Html.Partial("common/blogfeed")
                </div>
            </div>

            <div class="col-xs-12 col-md-6 social-col">
                <div class="social-item social-theme match-height">
                    <header>
                        <div class="header-text">Social</div>
                    </header>
                    @Html.Partial("common/twitterfeed")
                </div>
            </div>
        </div>
    </div>
</div>
