﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    var title = Model.Content.Name;

    if (Model.Content.HasProperty("articleTitle") && Model.Content.HasValue("articleTitle"))
    {
        title = Model.Content.GetPropertyValue<string>("articleTitle");
    }

    var TechnicalDocumentGroups = Model.Content.Children.Where(x => x.IsVisible());


}

<div class="component-technical-support" id="@Model.Content.UrlName">

    <div class="container">

        <div class="row intro-row text-center">
            <div class="col-xs-12 ">
                @if (Model.Content.HasProperty("technicalDocumentationHeading") || Model.Content.HasValue("technicalDocumentationBodyText"))
                {
                    <header>
						<h2>@title</h2>
                        @if (Model.Content.HasProperty("summary") && Model.Content.HasValue("summary"))
                        {
                            <p class="intro">@Model.Content.GetPropertyValue("summary")</p>
                        }
                        @if (Model.Content.HasProperty("bodyText") && Model.Content.HasValue("bodyText"))
                        {
                            @Html.Raw(Model.Content.GetPropertyValue<string>("bodyText"))
                        }
                        @if (Model.Content.HasProperty("link") && Model.Content.HasValue("link"))
                        {
                            if (Umbraco.TypedContent(Model.Content.GetPropertyValue("link")) != null)
                            {
                                <a href="@Umbraco.TypedContent(Model.Content.GetPropertyValue("link")).Url" class="custom-btn outlined large pill red">@Umbraco.TypedContent(Model.Content.GetPropertyValue("link")).Name</a>
                            }
                        }
                    </header>
                }

            </div>
        </div>

        @if ((Model.Content.HasProperty("technicalDocumentationHeading") && Model.Content.HasValue("technicalDocumentationHeading")) || (Model.Content.HasProperty("technicalDocumentationBodyText") && Model.Content.HasValue("technicalDocumentationBodyText")))
        {
            <div class="row tech-documentation">
                <div class="col-xs-12 text-center">
                    <header>
                        @if (Model.Content.HasProperty("technicalDocumentationHeading") && Model.Content.HasValue("technicalDocumentationHeading"))
                        {
                            <h3>@Model.Content.GetPropertyValue("technicalDocumentationHeading")</h3>
                        }
                        @if (Model.Content.HasProperty("technicalDocumentationBodyText") && Model.Content.HasValue("technicalDocumentationBodyText"))
                        {
                            @Model.Content.GetPropertyValue("technicalDocumentationBodyText")
                        }
                    </header>
                </div>
            </div>
        }


        @if (TechnicalDocumentGroups.Any())
        {
            <div class="row technical-documentation">

                @foreach (var documentGroup in TechnicalDocumentGroups)
                {
                    var groupName = documentGroup.Name;
                    if (documentGroup.HasProperty("heading") && documentGroup.HasValue("heading"))
                    {
                        groupName = documentGroup.GetPropertyValue<string>("heading");
                    }

                    <div class="col-xs-12 col-sm-6 col-md-4 range-wrapper">
                        <ul class="range-container list-unstyled">
                            <li class="range-header"><h4>@Html.Raw(groupName)</h4></li>
                            @foreach (var technicalDocument in documentGroup.Children.Where(x => x.IsVisible()))
                            {
                                var itemName = documentGroup.Name;
                                if (technicalDocument.HasProperty("heading") && technicalDocument.HasValue("heading"))
                                {
                                    itemName = technicalDocument.GetPropertyValue<string>("heading");
                                }

                                <li class="range-item">
                                    <div class="title">
                                        <span>@Html.Raw(itemName)</span>
                                        <ul class="list-unstyled actions">
                                            @if (technicalDocument.HasProperty("moreInfo") && technicalDocument.HasValue("moreInfo"))
                                            {
                                                <li class="tech-inline">
                                                    <a href="" class="more-info">
                                                        <i class="fa fa-info-circle"></i>
                                                        <span>More Info</span>
                                                    </a>

                                                </li>
                                            }
                                            @if (technicalDocument.HasProperty("download") && technicalDocument.HasValue("download"))
                                            {
                                                var downloadFile = Umbraco.TypedMedia(technicalDocument.GetPropertyValue<string>("download"));
                                                if (downloadFile != null)
                                                {
                                                    <li class="tech-inline">
                                                        <a href="@downloadFile.Url" download>
                                                            <i class="fa fa-download"></i>
                                                            <span>Download</span>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    @if (technicalDocument.HasProperty("moreInfo") && technicalDocument.HasValue("moreInfo"))
                                    {
                                        <div class="hidden-content">
                                            @Html.Raw(technicalDocument.GetPropertyValue<string>("moreInfo"))
                                        </div>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        <div class="text-center">
            <a href="/login" class="custom-btn outlined large pill red">Access technical documentation </a>
        </div>

    </div>

</div>