﻿@using AbleSystems.Web.Controllers
@inherits UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    var title = Model.Content.Name;

    if (Model.Content.HasValue("articleTitle"))
    {
        title = Model.Content.GetPropertyValue<string>("articleTitle");
    }
}

<div id="nav-spacer" class="dark-theme"></div>

    <div class="component-technical-support" id="@Model.Content.UrlName">

    <div class="container">

        <div class="row intro-row text-center">
            <div class="col-xs-12 ">
                <header>
                    <h2>@Html.Raw(title)</h2>
                    @if (Model.Content.HasProperty("summary") && Model.Content.HasValue("summary"))
                    {
                        <p class="intro">@Html.Raw(Model.Content.GetPropertyValue<string>("summary"))</p>
                    }
                    @Html.Raw(Model.Content.GetPropertyValue("bodyText"))
                    @if (Model.Content.HasProperty("link") && Model.Content.HasValue("link"))
                    {
                        var linkNode = Umbraco.TypedContent(Model.Content.GetPropertyValue<string>("link"));

                        if (linkNode != null)
                        {
                            var linkName = linkNode.Name;
                            if (linkNode.HasProperty("articleTitle") && linkNode.HasValue("articleTitle"))
                            {
                                linkName = linkNode.GetPropertyValue<string>("articleTitle");
                            }

                            <a href="@linkNode.Url" class="custom-btn outlined large pill red">@linkName</a>
                        }
                    }
                </header>

            </div>
        </div>

        @SiteHelper.RenderPageComponents(Model.Content)

        @if (Model.Content.HasValue("accessDocumentationLink"))
        {
            var linkNode = Umbraco.TypedContent(Model.Content.GetPropertyValue<string>("accessDocumentationLink"));
            if (linkNode != null)
            {
                var msg = "Access technical documentation";
                if (Model.Content.HasValue("accessDocumentationButtonTitle"))
                {
                    msg = Model.Content.GetPropertyValue<string>("accessDocumentationButtonTitle");
                }

                <div class="text-center">
                    <a href="@linkNode.Url" class="custom-btn outlined large pill red">@msg</a>
                </div>
            }
        }

    </div>

</div>
