﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    var hasRanges = Model.Content.Children.Count() > 0;
     
    <div class="technical-documentation-table-component">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <header class="text-center">
                        <h2>@Model.Content.Name</h2>
                    </header>

                    <div class="table-responsive">
                        <table class="table documentation-table">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th><div class="hidden-sm hidden-xs">English</div></th>
                                <th><div class="hidden-sm hidden-xs">Fran&ccedil;ais</div></th>
                                <th><div class="hidden-sm hidden-xs">Deutsch</div></th>
                                <th><div class="hidden-sm hidden-xs">Espa&ntilde;ol</div></th>
                                <th><div class="hidden-sm hidden-xs">Italiano</div></th>
                            </tr>
                            </thead>
                            @if (hasRanges)
                            {
                                <tbody>

                                    @foreach (var range in Model.Content.Children)
                                    {
                                        var rangeName = range.Name;
                                        var rangeHref = range.UrlName;
                                        var rangeHasProducts = range.Children.Count() > 0;
                                        
                                        <tr>
                                            <td colspan="6">
                                                <a class="accordian-toggle" data-toggle="collapse" href="#@rangeHref" aria-expanded="false" aria-controls="collapseExample">
                                                    @rangeName
                                                    <div class="arrow">
                                                    </div>
                                                </a>
                                                @if (rangeHasProducts)
                                                {    
                                                    <div class="collapse" id="@rangeHref">
                                                        <table class="table downloads-table">
                                                            <tbody>
                                                            @foreach (var product in range.Children)
                                                            {
                                                                <tr>
                                                                    <td>@product.Name</td>
                                                                    <td>
                                                                        @if (product.HasProperty("english") && product.HasValue("english"))
                                                                        {
                                                                            var enDownload = Umbraco.Media(product.GetPropertyValue("english"));
                                                                            if (enDownload != null)
                                                                            {
                                                                                <a href="@enDownload.Url" download>Download EN</a>
                                                                            }
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (product.HasProperty("french") && product.HasValue("french"))
                                                                        {
                                                                            var frDownload = Umbraco.Media(product.GetPropertyValue("french"));
                                                                            if (frDownload != null)
                                                                            {
                                                                                <a href="@frDownload.Url" download>Download FR</a>
                                                                            }
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (product.HasProperty("german") && product.HasValue("german"))
                                                                        {
                                                                            var deDownload = Umbraco.Media(product.GetPropertyValue("german"));
                                                                            if (deDownload != null)
                                                                            {
                                                                                <a href="@deDownload.Url" download>Download DE</a>
                                                                            }
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (product.HasProperty("spanish") && product.HasValue("spanish"))
                                                                        {
                                                                            var esDownload = Umbraco.Media(product.GetPropertyValue("spanish"));
                                                                            if (esDownload != null)
                                                                            {
                                                                                <a href="@esDownload.Url" download>Download ES</a>
                                                                            }
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (product.HasProperty("italian") && product.HasValue("italian"))
                                                                        {
                                                                            var itDownload = Umbraco.Media(product.GetPropertyValue("italian"));
                                                                            if (itDownload != null)
                                                                            {
                                                                                <a href="@itDownload.Url" download>Download IT</a>
                                                                            }
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}