﻿@using System.Text.RegularExpressions
@using AbleSystems.Web.Controllers
@inherits UmbracoTemplatePage
@{
	Layout = null;
    var umb = new UmbracoBuilder();
}

<div class="text-cta-component @SiteHelper.ThemeSelector(Model.Content)" id="@Model.Content.UrlName">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @Umbraco.Field("title", insertBefore: "<h2>", insertAfter: "</h2>")

                @Umbraco.Field("callToActionText")

                @{
                    if (Model.Content.HasValue("phoneNumber") || Model.Content.HasValue("link") || Model.Content.HasValue("linkTwo"))
                    {
                        <ul class="call-to-actions list-unstyled list-inline">
                            @if (Model.Content.HasValue("phoneNumber"))
                            {
                                var phone = Model.Content.GetPropertyValue<string>("phoneNumber");
                                <li>
                                    <a href="tel:@phone.Replace(" ","").Replace("(","").Replace(")","")" class="call-us">
                                        <div class="icon">
                                            <div class="fa fa-phone"></div>
                                        </div>
                                        @phone
                                    </a>
                                </li>
                            }

                            @if (Model.Content.HasValue("link"))
                            {
                                string productName = "";
                                if (Model.Content.HasValue("ProductName"))
                                {
                                    var productNameObject = Model.Content.GetPropertyValue("ProductName");
                                    if (productNameObject != null)
                                    {
                                        var decodedProductName = productNameObject.ToString();
                                        productName = HttpUtility.UrlEncode(decodedProductName);
                                    }
                                }

                                <li>
                                    <a href="@library.NiceUrl(Model.Content.GetPropertyValue<int>("link"))?item=@productName" class="custom-btn pill large outlined red-solid">

                                        @{
                                if (Model.Content.HasValue("linkOneText"))
                                {
                                    @Umbraco.Field("linkOneText")
                                }
                                else
                                {
                                    var text = umb.GetTypedContent(Model.Content, "link").Name;
                                    @text
                                }
                                        }
                                    </a>
                                </li>
                            }

                            @if (Model.Content.HasValue("linkTwo"))
                            {
                                <li>
                                    <a href="@library.NiceUrl(Model.Content.GetPropertyValue<int>("linkTwo"))" class="custom-btn pill large outlined red-solid">
                                        @{
                                if (Model.Content.HasValue("linkTwoText"))
                                {
                                    @Umbraco.Field("linkTwoText")
                                }
                                else
                                {
                                    var text = umb.GetTypedContent(Model.Content, "linkTwo").Name;
                                    @text
                                }
                                        }
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
</div>



