﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TwitterOAuth1Callback.aspx.cs" 
    Inherits="Our.Umbraco.uTwit.Web.UI.App_Plugins.uTwit.TwitterOAuth1Callback" %>
<html>
    <head runat="server"></head>
    <body>
        <form runat="server" EnableViewState="False"></form>
    </body>
</html>