﻿@using AbleSystems.Web.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    if (Model.Content.HasValue("relatedArticles"))
    {
        <div class="row articles-of-interest">

            <div class="col-xs-12">
                <header>
                    <h2>Other Articles Of Interest</h2>
                </header>
            </div>

            @foreach (var relatedArticleId in Model.Content.GetPropertyValue<string>("relatedArticles").Split(','))
            {
                var relatedArticleNode = Umbraco.TypedContent(relatedArticleId);
                if (relatedArticleNode != null)
                {
                    var articleName = relatedArticleNode.Name;
                    if (relatedArticleNode.HasValue("menuTitle"))
                    {
                        articleName = relatedArticleNode.GetPropertyValue<string>("menuTitle");
                    }

                    var articleImage = string.Empty;

                    if (relatedArticleNode.HasValue("articleImage"))
                    {
                        var articleImageNode = Umbraco.TypedMedia(relatedArticleNode.GetPropertyValue<string>("articleImage"));

                        if (articleImageNode != null)
                        {
                            articleImage = articleImageNode.Url;
                        }
                    }
                    <div class="col-xs-12 col-sm-4 article-wrapper">
                        <div class="pod blog-pod">
                            <div class="img" style="background-image: url(@articleImage)">
                                <a href="#"></a>
                            </div>
                            <header>
                                <h3>@articleName</h3>
                            </header>
                            <div class="date">
                                <i class="fa fa-calendar"></i> @Html.Raw(SiteHelper.GetOrdinal(relatedArticleNode.GetPropertyValue<DateTime>("articleDate").Day) + " " + relatedArticleNode.GetPropertyValue<DateTime>("articleDate").ToString("MMMM yyyy"))
                            </div>
                            <a href="@relatedArticleNode.Url" class="custom-btn outlined red small pill">Read article</a>
                        </div>
                    </div>
                }
            }
        </div>
    }
}
                
