﻿@using System.Globalization
@using AbleSystems.Web.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	<h2>Archive</h2>

    var listOfDates = new List<DateTime>();

    foreach (var newsItem in Model.Content.Children.Where(newsItem => !listOfDates.Contains(newsItem.GetPropertyValue<DateTime>("articleDate").Date)))
    {
        listOfDates.Add(newsItem.GetPropertyValue<DateTime>("articleDate").Date);
    }

    // sort list in order of date
    listOfDates = listOfDates.OrderByDescending(d => d).ToList();

    // holder to store totals for each
    var dateTotals = new Dictionary<DateTime, int>();

    // loop from start (earliest) to end (latest)
    var startYear = listOfDates.FirstOrDefault().Year;
    var lastYear = listOfDates.Last().Year;

	var baseUrl = string.Empty;
    var siteHome = SiteHelper.GetSiteRoots().Where(x => x.DocumentTypeAlias.Equals("homepage"));

    if (siteHome != null && siteHome.Any())
    {
        var blogLanding = siteHome.FirstOrDefault().Children.Where(x => x.DocumentTypeAlias.Equals("blogLanding"));
        if (blogLanding != null && blogLanding.Any())
        {
            baseUrl = blogLanding.FirstOrDefault().Url;
        }
    }

    for (int currentYear = startYear; currentYear >= lastYear; currentYear--)
    {
        var currentYearDates = listOfDates.Where(x => x.Year == currentYear).ToList();

        <div class="year-section">
            <header>@currentYear</header>

            <ul class="list-unstyled">
                @foreach (var currentYearMonth in currentYearDates.DistinctBy(x => x.Month))
                {
                    var totalForThisYearAndMonth = Model.Content.Children.Where(x => x.GetPropertyValue<DateTime>("articleDate").Month == currentYearMonth.Month && x.GetPropertyValue<DateTime>("articleDate").Year == currentYearMonth.Year).Count();

                    <li><a href="@Html.Raw(baseUrl + "?year=" + currentYear + "&amp;month=" + currentYearMonth.Month)">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(currentYearMonth.Month) (@totalForThisYearAndMonth)</a></li>

                }
            </ul>
        </div>
    }
}

