﻿@using AbleSystems.Web.Controllers
@using AbleSystems.Web.Models
@model ContactFormModel







@using (Html.BeginUmbracoForm<ContactFormController>("Submit", FormMethod.Post, new { @class = "custom-form no-rounded lowercase" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    if (TempData.ContainsKey("validationMessage"))
    {
        var validationMessage = (string)TempData["validationMessage"];
        if (!string.IsNullOrEmpty(validationMessage))
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @Html.Raw(validationMessage)
            </div>
        }
    }
    
    <div class="col-xs-12 col-md-3">
        <div class="form-group">
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control outline", @placeholder = "First Name *" })
            @Html.ValidationMessageFor(x => x.FirstName)
        </div>
    </div>

    <div class="col-xs-12 col-md-3">
        <div class="form-group">
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control outline", @placeholder = "Last Name *" })
            @Html.ValidationMessageFor(x => x.LastName)
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control outline", @placeholder = "Company *" })
            @Html.ValidationMessageFor(x => x.CompanyName)
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control outline", @placeholder = "Email Address *" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control outline", @placeholder = "Phone Number" })
            @Html.ValidationMessageFor(x => x.Phone)
        </div>
    </div>

    <div class="col-xs-12">
        <h3>Please tell us what type of product you are interested in</h3>
    </div>
    
    <div class="col-xs-12 col-md-12">
        <div class="form-group">
            @Html.DropDownListFor(m => m.Solution, Model.SolutionItems, "Please select a solution", new { @class = "form-control outline" })
        </div>
    </div>

    @*<div class="col-xs-12 col-md-6" style="display:none">
        <div class="form-group">
            @Html.DropDownListFor(m => m.Other, Model.OtherItems, "Please select a [XXXXXXX]", new { @class = "form-control outline" })
        </div>
    </div>*@

    <div class="col-xs-12">
        <div class="form-group">
            @Html.TextAreaFor(x => x.Message, new { @class = "form-control outline", @placeholder = "Message", @rows = "" })
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <div class="custom-checkbox">
                <label>
                    @Html.CheckBox("MailingList", false)
                    <span class="psudo-check">
                        <i class="fa fa-check"></i>
                    </span>
                    Tick here if you do not wish to be added to our mailing list
                </label>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <button type="submit" class="custom-btn small pill red outlined submit-form-button">Submit</button>
        </div>
    </div>


    @Html.HiddenFor(x => x.ThankYouPageId)
}
