﻿@using AbleSystems.Web.Controllers
@using umbraco.NodeFactory
@model AbleSystems.Web.Models.LoginRegisterModel

@{
    var success = TempData["FormSuccess"] != null;

    if (Request.Cookies["ableAuthCookie"] != null && Request.Cookies["ableAuthCookie"].Value != null && !string.IsNullOrEmpty(Request.Cookies["ableAuthCookie"].Value))
    {
        var home = SiteHelper.GetSiteRoots();
        if (home != null)
        {
            var firstOrDefault = home.FirstOrDefault();
            if (firstOrDefault != null)
            {
                var supportAndDownloads =
                    firstOrDefault
                        .Children.Where(x => x.DocumentTypeAlias.Equals("supportAndDownload"));

                var publishedContent = supportAndDownloads.FirstOrDefault();
                if (publishedContent != null)
                {
                    Response.Redirect(publishedContent.Url);
                }
            }
        }
    }

    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent content = umbracoHelper.TypedContent(Node.getCurrentNodeId());
}

<div class="loginalert" id="register_message_area">@Html.Raw(TempData["registrationError"])</div>

<div id="log-in-spacer" class="visible-xs"></div>

<div class="log-in-component container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 log-in-col log-in">
            <div class="content">
                <h2>@Html.Raw(content.GetPropertyValue("loginHeading"))</h2>
                @Html.Raw(content.GetPropertyValue<string>("pleaseEnterPasswordText"))

                    @using (Html.BeginUmbracoForm<RegistrationSurfaceController>("Login", FormMethod.Post, new { @class = "custom-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("registerModel", true)
                        
                        if (TempData["loginError"] != null && !string.IsNullOrEmpty(TempData["loginError"].ToString()))
                        {
                            <div class="login-alert alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">!</span>
                                @Html.Raw(TempData["loginError"])
                            </div>
                        }

                        <div class="row">
                            <div class="col-xs-12">
                                @Html.PasswordFor(x => x.LoginPass, new { @class = "col-xs-12", @placeholder = "password", @name = "name", @type = "password" })
                            </div>
                        </div>

                        <div class="forgot-password-row">
                            
                             @Html.Raw(content.GetPropertyValue("resetPasswordText"))
                            
                            <button type="submit" class="custom-btn outlined red-solid large pill">@Html.Raw(content.GetPropertyValue("loginText"))</button>
                        </div>
                    }
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 log-in-col sign-up">
            <div class="content">
                <h2>@Html.Raw(content.GetPropertyValue("signupHeading"))</h2>

                @{
                    var listItems = new List<SelectListItem>
                    {
                        new SelectListItem
                        {
                            Text = "Mr",
                            Value = "Mr"
                        },
                        new SelectListItem
                        {
                            Text = "Mrs",
                            Value = "Mrs"
                        },
                        new SelectListItem
                        {
                            Text = "Ms",
                            Value = "Ms"
                        },
                        new SelectListItem
                        {
                            Text = "Other",
                            Value = "Other"
                        }
                    };
                }

                @using (Html.BeginUmbracoForm("RegisterSubmit", "RegistrationSurface", FormMethod.Post, new {@class = "sign-up-form custom-form", role = "form", autocomplete = "off"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("registerModel", true)


                    if (TempData["registrationError"] != null && !string.IsNullOrEmpty(TempData["registrationError"].ToString()))
                    {
                        <div class="login-alert alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">!</span>
                            @Html.Raw(TempData["registrationError"])
                        </div>
                    }

                    <div class="row top-row">
                        <div class="col-xs-4 col-md-2">
                            @Html.DropDownListFor(m => Model.Title, listItems, "---", new {@class="custom-select"})
                        </div>
                      @*  <div class="col-xs-8 col-md-4">
                            @Html.TextBoxFor(m => Model.Name, new { value = "", type = "text", autocapitalize = "off", autocomplete = "off", @name = "name", @id = "name", placeholder = "Name *", size = "20" })
                            @Html.ValidationMessageFor(m => Model.Name)
                          *@
                        <div class="col-xs-12 col-md-10">
                            @Html.TextBoxFor(m => Model.FirstName, new { value = "", type = "text", autocapitalize = "off", autocomplete = "off", @name = "firstname", @id = "firstname", placeholder = "First Name *", size = "20" })
                            @Html.ValidationMessageFor(m => Model.FirstName)
                        </div>

                     
                    </div>
    <div class="row top-row">
       
        <div class="col-xs-12 col-md-6">
            @Html.TextBoxFor(m => Model.LastName, new { value = "", type = "text", autocapitalize = "off", autocomplete = "off", @name = "lastname", @id = "lastname", placeholder = "Last Name *", size = "20" })
            @Html.ValidationMessageFor(m => Model.LastName)
        </div>
        <div class="col-xs-12 col-md-6 company-name">
            @Html.TextBoxFor(m => Model.CompanyName, new { value = "", type = "text", autocapitalize = "off", autocomplete = "off", @name = "company-name", @id = "company-name", placeholder = "Company Name", size = "20" })
            @Html.ValidationMessageFor(m => Model.CompanyName)
        </div>
    </div>
                    <div class="row bottom-row">
                        <div class="col-xs-12 col-md-6">
                            @Html.TextBoxFor(m => Model.Phone, new { value = "", type = "tel", autocapitalize = "off", autocomplete = "off", @name = "phone", @id = "phone", placeholder = "Phone Number", size = "20" })
                            @Html.ValidationMessageFor(m => Model.Phone)
                        </div>
                        <div class="col-xs-12 col-md-6 email-address">
                            @Html.TextBoxFor(m => Model.Email, new { value = "", type = "email", autocapitalize = "off", autocomplete = "off", @name = "email", @id = "email", placeholder = "Email Address *", size = "20" })
                            @Html.ValidationMessageFor(m => Model.Email)
                        </div>
                    </div>
                    <ul style="list-style-type:circle;">
                    <li>By clicking 'Sign-Up' you will automatically receive an email containing a password to access our Technical Documentation.</li>
                    <li>If you would like to receive regular technical and product updates from ABLE via email then please tick this Check box here @Html.EditorFor(m => Model.productUpdates)</li>
                    <li>You will be able to unsubscribe at any time and we will never share your information.</li>
                  </ul>
                          <button type="submit" class="custom-btn outlined red-solid large pill sign-up-button">Sign-Up</button>

                }

            </div>
        </div>
    </div>
</div>