﻿@using System.Collections.Specialized
@using AbleSystems.Web.Controllers
@using AbleSystems.Web.Models
@model SearchModel
@{
    var page = 1;
    
    TempData.Keep("searchResults");
    
    if (!string.IsNullOrEmpty(Request.QueryString["page"]))
    {
        if (int.TryParse(Request.QueryString["page"], out page))
        {
            if (page > Model.ResultsPerPage)
            {
                page = Model.ResultsPerPage;
            }
        }

        if (page < 1)
        {
            page = 1;
        }
    }  
}
<div class="container">
    <div class="row search-results">


        @foreach (var searchResult in Model.results.Skip((page - 1) * Model.ResultsPerPage).Take(Model.ResultsPerPage))
        {
            @RenderResult(searchResult, page)
        }

    </div>

    @RenderPaging(Model, page);

</div>

@helper RenderResult(IPublishedContent result, int page)
{
    var resultBody = SearchController.GetResultBody(result);
    var resultTitle = SearchController.GetResultTitle(result);
            
    <div class="col-xs-12 col-sm-6 result">
        <h3>@Html.Raw(resultTitle)</h3>
        <p>@Html.Raw(resultBody)</p>
        <a href="@result.Url">@Html.Raw(result.UrlAbsolute())</a>
    </div>
}

@helper RenderPaging(SearchModel model, int page)
{
    if (model.TotalResults > model.ResultsPerPage)
    {
        string url = HttpContext.Current.Request.Url.AbsoluteUri;
        var baseUrl = url;

        if (Request.QueryString.AllKeys.Contains("page"))
        {
            string[] separateUrl = url.Split('?');

            NameValueCollection queryString = HttpUtility.ParseQueryString(separateUrl[1]);
            queryString.Remove("page");
            baseUrl = separateUrl[0] + queryString;
        }

        <ul class="list-unstyled list-inline search-results-pager text-center">


            @if (page > 1)
            {
                <li><a href="@Html.Raw(baseUrl + "?page=" + (page - 1))">Previous</a></li>
            }

            <li>Page @page of @Html.Raw(model.TotalPages)</li>

            @if (page < model.TotalPages)
            {
                <li><a href="@Html.Raw(baseUrl + "?page=" + (page + 1))">Next</a></li>
            }
            
        </ul>

    }
}
