﻿@using Our.Umbraco.uTwit.Models
@inherits UmbracoViewPage<IEnumerable<Status>>
@{
    // Render the tweets
    if (Model.Any())
    {
        <div class="social-items">
            <div class="row">
                @foreach (var tweet in Model)
                {
                    var tweetToDisplay = tweet.IsRetweet ? tweet.RetweetedStatus : tweet;

                    <div class="col-xs-12 col-sm-6 item">
                        <header>@tweetToDisplay.CreatedAt.ToString("dddd, dnn MMMM yyyy", true)</header>
                        <p>@tweetToDisplay.LinkifiedText</p>
                        <a href="@tweetToDisplay.PermalinkUrl" class="custom-btn outlined pill large" target="_new">View Tweet</a>
                    </div>
                }
            </div>
        </div>
    }
}