﻿@using AbleSystems.Web.Controllers
@inherits UmbracoTemplatePage
@{
    var selection = SiteHelper.GetSiteRoots().DescendantsOrSelf("blogItem").Where("Visible").Take(2);
    if (selection.Any())
    {
        <div class="social-items">
            <div class="row">
                @foreach (var item in selection)
                {
                    var dt = Convert.ToDateTime(item.GetPropertyValue("articleDate"));
                    
                    <div class="col-xs-12 col-sm-6 item">
                        <header>@dt.ToString("dddd, dnn MMMM yyyy", true)</header>
                        <p>@item.GetPropertyValue("synopsis").ToString()</p>
                        <a href="@item.Url" class="custom-btn outlined pill large">Read Article</a>
                    </div>

                }
            </div>
        </div>
    }
}