﻿@using AbleSystems.Web.Models
@using AbleSystems.Web.Controllers
@using RJP.MultiUrlPicker.Models
@inherits UmbracoTemplatePage
<footer id="main-footer">

    <a href="" class="back-to-top">
        <i class="fa fa-chevron-up"></i>
    </a>

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-6 footer-col">
                <ul class="social-list list-unstyled list-inline">
                    <li>
                        <a href="@SiteHelper.GetSiteGlobalProperty("twitterLink")" target="_new"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="@SiteHelper.GetSiteGlobalProperty("youTubeLink")" target="_new"><i class="fa fa-youtube-play"></i></a>
                    </li>
                    <li>
                        <a href="@SiteHelper.GetSiteGlobalProperty("linkedInLink")" target="_new"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>

                <p class="small-text copy-text">
                    &copy; @SiteHelper.GetSiteGlobalProperty("copyrightNotice")<br class="hidden-md hidden-lg">
                    <br>@SiteHelper.GetSiteGlobalProperty("address")
                </p>

                <ul class="accreditation-logos list-unstyled list-inline">
                    <li>
                        <img src="/images/iip-logo.png" alt="" />
                    </li>
                    <li>
                        <img src="/media/1487/aja-ukas.jpg" />
                    </li>
                    <li>
                        <img src="/media/1687/microsoft.png" />
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-6 text-sm-right footer-col right-col">
                
                <ul class="list-unstyled list-inline footer-links">
                    @{
                        var settingsNode = SiteHelper.GetGlobalSettingsNode();

                        if (settingsNode != null && settingsNode.HasProperty("footerLinks") && settingsNode.HasValue("footerLinks"))
                        {
                            foreach (var footerLink in settingsNode.GetPropertyValue<MultiUrls>("footerLinks"))
                            {
                                if (footerLink != null)
                                {
                                    <li>
                                        <a href="@footerLink.Url">@footerLink.Name</a>
                                    </li>
                                }
                            }
                        }
                    }
                </ul>
                @Html.Partial("common/newsletter", new NewsletterModel())
            </div>
        </div>
    </div>
</footer>

