﻿@using AbleSystems.Web.Controllers
@inherits UmbracoViewPage<IPublishedContent>
@{
    var canonical = Request.Url.Scheme + "://" + Request.Url.Host + Model.Url;
    var title = "";
    var image = Request.Url.Scheme + "://" + Request.Url.Host + "/images/able-logo.png";
    var description = "";
    var siteName = "";

    if (Model.GetPropertyValue("metaDescription") != null && Model.HasValue("metaDescription"))
    {
        if (Model.GetProperty("metaDescription").Value.NullSafeToString() != string.Empty)
        {
            description = Model.GetProperty("metaDescription").Value.ToString();
        }
    }

    if (Model.GetPropertyValue("pageTitle") != null && Model.HasValue("pageTitle"))
    {
        if (Model.GetProperty("pageTitle").Value.NullSafeToString() != string.Empty)
        {
            title = Model.GetProperty("pageTitle").Value.ToString();
        }
    }
    else
    {
        title = Model.Name + " - " + SiteHelper.GetSiteGlobalProperty("websiteName");
    }


    if (Model.GetPropertyValue("openGraphImage") != null && Model.HasValue("openGraphImage"))
    {
        if (Model.GetProperty("openGraphImage").Value.NullSafeToString() != string.Empty)
        {
            image = Request.Url.Scheme + "://" + Request.Url.Host + Umbraco.TypedMedia(Model.GetProperty("openGraphImage").Value.ToString()).Url;
        }
    }
    else if (Umbraco.Media(SiteHelper.GetSiteGlobalProperty("openGraphDefaultImage")).umbracoFile != null)
    {
        image = Request.Url.Scheme + "://" + Request.Url.Host + Umbraco.TypedMedia(SiteHelper.GetSiteGlobalProperty("openGraphDefaultImage")).Url;
    }

    if (Model.GetPropertyValue("openGraphTitle") != null && Model.HasValue("openGraphTitle"))
    {
        if (Model.GetProperty("openGraphTitle").Value.NullSafeToString() != string.Empty)
        {
            title = Model.GetProperty("openGraphTitle").Value.ToString();
        }
    }
    if (Model.GetPropertyValue("openGraphDescription") != null && Model.HasValue("openGraphDescription"))
    {
        if (Model.GetProperty("openGraphDescription").Value.NullSafeToString() != string.Empty)
        {
            description = Model.GetProperty("openGraphDescription").Value.ToString();
        }
    }

    if (SiteHelper.GetSiteGlobalProperty("websiteName") != string.Empty)
    {
        siteName = SiteHelper.GetSiteGlobalProperty("websiteName");
    }
    var owner = "@able_systems";
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@title</title>
    <link rel="canonical" href="@canonical"/>
    <meta name="description" content='@description'>
    <meta property="og:type" content="website">
    <meta property="og:title" content="@title"/>
    <meta property="og:image" content="@image"/>
    <meta property="og:url" content="@canonical"/>
    <meta property="og:description" content="@description"/>
    <meta property="og:site_name" content="@siteName"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@siteName">
    <meta name="twitter:creator" content="@owner">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
    <meta name="twitter:image" content="@image">
    <meta name="google-site-verification" content="cfiBFrDGjOsgqsjC41vi6RxOPZKg-mDYMyjS6mPe358" />


    if (Model.IsDocumentType("Homepage") && SiteHelper.GetSiteGlobalProperty("websiteUrl") != string.Empty)
    {
        <link href="@SiteHelper.GetSiteGlobalProperty("websiteUrl")" rel="publisher"/>
    }
}