﻿@using AbleSystems.Web.Controllers
@using AbleSystems.Web.Models
@inherits UmbracoTemplatePage
@{
    var searchModel = new SearchModel();
    var settingsNode = SiteHelper.GetSiteSettings();

    if (settingsNode != null)
    {
        var navNodes = settingsNode.Children.Where(x => x.DocumentTypeAlias.Equals("navigation"));

        if (navNodes.Any())
        {
            var NavNode = navNodes.FirstOrDefault();

            if (NavNode.HasProperty("items") && NavNode.HasValue("items"))
            {
                <!-- NAVIGATION -->
                <!-- MOBILE NAVIGATION -->
                <div class="navmenu navmenu-default navmenu-fixed-right offcanvas" id="mobile-nav-menu">
                    <div class="search">
                        @Html.Partial("common/search-mobile", searchModel)
                    </div>
                    <ul class="nav">
                        @foreach (var navItem in NavNode.GetPropertyValue<string>("items").Split(','))
                        {
                            var navNode = Umbraco.TypedContent(navItem);

                            if (navNode != null)
                            {
                                if (navNode.Children.Any(x => x.IsVisible() && navNode.GetPropertyValue<bool>("listChildPages")))
                                {
                                    <li class="dropdown">
                                        <a href="@(navNode.GetPropertyValue<bool>("includeALinkToThisPage") ? navNode.Url : "#")" class="dropdown-toggle" data-toggle="dropdown">@navNode.Name <b class="caret"></b></a>
                                        <ul class="dropdown-menu navmenu-nav">
                                            @foreach (var childNavItem in navNode.Children.Where(x => x.IsVisible()))
                                            {
                                                <li>
                                                    <a href="@childNavItem.Url">
                                                        <i class="fa fa-chevron-right"></i>
                                                        @((childNavItem.HasProperty("articleTitle") && childNavItem.HasValue("articleTitle")) ? childNavItem.GetPropertyValue("articleTitle") : childNavItem.Name)
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a href="@navNode.Url">@navNode.Name</a></li>
                                }
                            }
                        }

                    </ul>
                </div>

                <!-- MAIN NAVIGATION -->
                <div id="navigation">

                    <a href="/" class="able-logo">
                        <img src="/images/able-logo.png"/>
                    </a>
                    <div class="navbar-content">
                        <div class="top-bar">
                            <div class="call-us">
                                <div class="circular-icon small">
                                    <div class="fa fa-phone"></div>
                                </div>
                                Call us on <a href="tel:@SiteHelper.GetSiteGlobalProperty("sitePhoneNumber")">@SiteHelper.GetSiteGlobalProperty("sitePhoneNumber")</a>
                            </div>

                            @Html.Partial("common/search", searchModel)
                        </div>
                        <div class="nav-links">
                            <div class="strapline">
                                <em>The</em> Experts in Small Printer Solutions
                            </div>


                            <ul class="main-navigation list-unstyled list-inline">

                                @foreach (var navItem in NavNode.GetPropertyValue<string>("items").Split(','))
                                {
                                    var navItemNode = Umbraco.TypedContent(navItem);

                                    if (navItemNode != null)
                                    {
                                        if (navItemNode.Children.Any(x => x.IsVisible()) && navItemNode.GetPropertyValue<bool>("listChildPages"))
                                        {
                                                <li>
                                                    <a href="@(navItemNode.GetPropertyValue<bool>("includeALinkToThisPage") ? navItemNode.Url : "#")">@((navItemNode.HasProperty("articleTitle") && navItemNode.HasValue("articleTitle")) ? navItemNode.GetPropertyValue("articleTitle") : navItemNode.Name)</a>
                                                    <div class="dropdown-nav-menu">
                                                        <ul class="list-unstyled">
                                                            @foreach (var childNavItem in navItemNode.Children.Where(x => x.IsVisible()))
                                                            {
                                                                <li>
                                                                    <a href="@childNavItem.Url">@((childNavItem.HasProperty("articleTitle") && childNavItem.HasValue("articleTitle")) ? childNavItem.GetPropertyValue("articleTitle") : childNavItem.Name)</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </li>
                                            
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="@navItemNode.Url">@((navItemNode.HasProperty("articleTitle") && navItemNode.HasValue("articleTitle")) ? navItemNode.GetPropertyValue("articleTitle") : navItemNode.Name)</a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>

                            <a class="mobile-nav-toggle" data-toggle="offcanvas" data-target="#mobile-nav-menu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>

                        </div>
                    </div>
                </div>
            }
        }
    }
}