﻿@using AbleSystems.Web.Controllers
@using AbleSystems.Web.Models
@model NewsletterModel
@{
    var GlobalSettings = SiteHelper.GetGlobalSettingsNode();
    
    if (GlobalSettings != null && GlobalSettings.GetPropertyValue<bool>("useEmbeddedHTML") && GlobalSettings.HasProperty("newsletterFormEmbedCode") && GlobalSettings.HasValue("newsletterFormEmbedCode"))
    {
        @Html.Raw(GlobalSettings.GetPropertyValue<string>("newsletterFormEmbedCode"))
    }
    else
    {
        using (Html.BeginUmbracoForm<RegistrationSurfaceController>("RegisterForNewsletter", FormMethod.Post, new { @class = "newsletter-subscription custom-form" }))
        {
            <label class="nova-light" for="subscription-emailaddress">@SiteHelper.GetSiteGlobalProperty("newsletterHeadline")</label>
    
            @Html.TextBoxFor(x => x.Email, new { @class = "outline", @placeholder = "Email Address", type = "email", @required="required" })            
            <input type="submit" value="@SiteHelper.GetSiteGlobalProperty("newsletterButtonText")" class="custom-btn pill outlined small red" />
        }
    }
}
	
	

		
		
