﻿@using AbleSystems.Web.Controllers
@using AbleSystems.Web.Models
@model SearchModel

@using (Html.BeginUmbracoForm<SearchController>("Search", FormMethod.Post, new {@class = "search-form"}))
{
    @Html.TextBoxFor(x => x.Text, new { type = "search", placeholder = "SEARCH", @Value = Model.Text })
    
    <button type="submit">
        <div class="fa fa-search"></div>
    </button>
}
    