﻿@using AbleSystems.Web.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var SiteSettigs = SiteHelper.GetSiteSettings();
    var navigationNodes = SiteSettigs.Children(x => x.DocumentTypeAlias.Equals("secondaryNavigation"));

    if (navigationNodes != null)
    {
        var navigationNode = navigationNodes.FirstOrDefault();
        if (navigationNode.HasValue("startPage"))
        {
            var startNode = Umbraco.TypedContent(navigationNode.GetPropertyValue<string>("startPage"));

            if (startNode != null && startNode.Children.Any())
            {
                <ul class="secondary-nav list-unstyled">
                    
                    @foreach (var node in startNode.Children)
                    {
                        var nodeTitle = node.Name;
                        var imageUrl = string.Empty;

                        if (node.HasProperty("menuTitle") && node.HasValue("menuTitle"))
                        {
                            nodeTitle = node.GetPropertyValue<string>("menuTitle");
                        }
                        if (node.HasProperty("menuImage") && node.HasValue("menuImage"))
                        {
                            var mediaNode = Umbraco.TypedMedia(node.GetPropertyValue<string>("menuImage"));
                            if (mediaNode != null)
                            {
                                imageUrl = mediaNode.Url;
                            }
                        }

                        <li>
                            <a href="">
                                <div class="content">
                                    <div class="icon">
                                        <img src="@imageUrl" alt="@node.Name"/>
                                    </div>
                                    <div class="tagline">@nodeTitle</div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            }
        }
    }
}
	